omvt/Schemas/PORX_MT114002UK06_3111.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
<xs:include schemaLocation="../VocabSchema/NHSVocab_3111.xsd"/>
   
   <xs:include schemaLocation="../dt/datatypes_3111.xsd"/>
   
   <xs:include schemaLocation="../voc/voc_3111.xsd"/>
   
   <xs:annotation>
      
      <xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   
   </xs:annotation>
<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   
   <xs:include schemaLocation="COCT_MT050012UK04_3111.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120401UK02_3111.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120201UK03_3111.xsd"/>
   
   <xs:element name="PANotification" type="PORX_MT114002UK06.PANotification"/>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PORX_MT114002UK06.PANotification">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="PORX_MT114002UK06.RecordTarget" minOccurs="1" maxOccurs="1" name="recordTarget"/>
         
         <xs:element type="PORX_MT114002UK06.Location" minOccurs="1" maxOccurs="1" name="location"/>
         
         <xs:element type="PORX_MT114002UK06.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1" name="primaryInformationRecipient"/>
         
         <xs:element type="PORX_MT114002UK06.PertinentInformation" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
         
         <xs:element type="PORX_MT114002UK06.PertinentInformation2_1" minOccurs="1" maxOccurs="1" name="pertinentInformation3"/>
         
         <xs:element type="PORX_MT114002UK06.PertinentInformation3" minOccurs="1" maxOccurs="1" name="pertinentInformation1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ControlAct"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.RecordTarget">
      
      <xs:sequence>
         
         <xs:group ref="COCT_MT050012UK04"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.Location">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120401UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.PrimaryInformationRecipient">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120401UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.PertinentInformation">
      
      <xs:sequence>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="PORX_MT114002UK06.CareRecordElementCategory" minOccurs="1" maxOccurs="1" name="pertinentCareRecordElementCategory"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="PORX_MT114002UK06.CareRecordElementCategory">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PORX_MT114002UK06.Component2" minOccurs="1" maxOccurs="unbounded" name="component"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.Component2">
      
      <xs:sequence>
         
         <xs:element type="PORX_MT114002UK06.ActRef" minOccurs="1" maxOccurs="1" name="actRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="PORX_MT114002UK06.ActRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.PertinentInformation2_1">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PORX_MT114002UK06.ClaimToFollow" minOccurs="1" maxOccurs="1" name="pertinentClaimToFollow"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.ClaimToFollow">
      
      <xs:sequence>
         
         <xs:element name="value" type="BL" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.PertinentInformation3">
      
      <xs:sequence>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="PORX_MT114002UK06.SupplyHeader" minOccurs="1" maxOccurs="1" name="pertinentSupplyHeader"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PORX_MT114002UK06.SupplyHeader">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PORX_MT114002UK06.Author" minOccurs="1" maxOccurs="1" name="author"/>
         
         <xs:element type="PORX_MT114002UK06.ResponsibleParty" minOccurs="1" maxOccurs="1" name="responsibleParty"/>
         
         <xs:element type="PORX_MT114002UK06.PertinentInformation10" minOccurs="0" maxOccurs="1" name="pertinentInformation2"/>
         
         <xs:element type="PORX_MT114002UK06.PertinentInformation4" minOccurs="1" maxOccurs="unbounded" name="pertinentInformation1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.Author">
      
      <xs:sequence>
         
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="signatureText" type="ED" minOccurs="1" maxOccurs="1"/>
         
         <xs:group ref="UKCT_MT120201UK03"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.ResponsibleParty">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120201UK03"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.PertinentInformation10">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="PORX_MT114002UK06.CareEventRef" minOccurs="1" maxOccurs="1" name="pertinentCareEventRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="PORX_MT114002UK06.CareEventRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Act"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.PertinentInformation4">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="PORX_MT114002UK06.SuppliedLineItem" minOccurs="1" maxOccurs="1" name="pertinentSuppliedLineItem"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PORX_MT114002UK06.SuppliedLineItem">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="PORX_MT114002UK06.Consumable1" minOccurs="1" maxOccurs="1" name="consumable"/>
         
         <xs:element type="PORX_MT114002UK06.PertinentInformation1" minOccurs="0" maxOccurs="1" name="pertinentInformation3"/>
         
         <xs:element type="PORX_MT114002UK06.PertinentInformation5" minOccurs="1" maxOccurs="1" name="pertinentInformation1"/>
         
         <xs:element type="PORX_MT114002UK06.PertinentInformation6" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.Consumable1">
      
      <xs:sequence>
         
         <xs:element type="PORX_MT114002UK06.RequestedManufacturedProduct" minOccurs="1" maxOccurs="1" name="requestedManufacturedProduct"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.RequestedManufacturedProduct">
      
      <xs:sequence>
         
         <xs:element type="PORX_MT114002UK06.RequestedMaterial" minOccurs="1" maxOccurs="1" name="manufacturedRequestedMaterial"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.RequestedMaterial">
      
      <xs:sequence>
         
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.PertinentInformation1">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PORX_MT114002UK06.AdditionalInstructions" minOccurs="1" maxOccurs="1" name="pertinentAdditionalInstructions"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="PORX_MT114002UK06.AdditionalInstructions">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV_PrescriptionAnnotation" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.PertinentInformation5">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PORX_MT114002UK06.DosageInstructions" minOccurs="1" maxOccurs="1" name="pertinentDosageInstructions"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="PORX_MT114002UK06.DosageInstructions">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV_PrescriptionAnnotation" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.PertinentInformation6">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PORX_MT114002UK06.SuppliedLineItemQuantity" minOccurs="1" maxOccurs="1" name="pertinentSuppliedLineItemQuantity"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.SuppliedLineItemQuantity">
      
      <xs:sequence>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="quantity" type="PQ" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PORX_MT114002UK06.Performer" minOccurs="1" maxOccurs="1" name="performer"/>
         
         <xs:element type="PORX_MT114002UK06.Product" minOccurs="1" maxOccurs="1" name="product"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Supply"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.Performer">
      
      <xs:sequence>
         
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         
         <xs:group ref="UKCT_MT120201UK03"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.Product">
      
      <xs:sequence>
         
         <xs:element type="PORX_MT114002UK06.SuppliedManufacturedProduct" minOccurs="1" maxOccurs="1" name="suppliedManufacturedProduct"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.SuppliedManufacturedProduct">
      
      <xs:sequence>
         
         <xs:element type="PORX_MT114002UK06.SuppliedMaterial" minOccurs="1" maxOccurs="1" name="manufacturedSuppliedMaterial"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PORX_MT114002UK06.SuppliedMaterial">
      
      <xs:sequence>
         
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>

</xs:schema>
