omvt/Schemas/PORX_MT122002UK31_4200.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../dt/datatypes_4200.xsd"/>
	<xs:include schemaLocation="../voc/voc_4200.xsd"/>
	<xs:include schemaLocation="../dt/NHSVocab_4200.xsd"/>
	<xs:include schemaLocation="../dt/datatypeflavours_4200.xsd"/>
	<xs:annotation>
		<xs:documentation>
		Generated using schema builder version 1.21p12_5.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
	</xs:annotation>
	<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12_5, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
	<xs:element name="PrescriptionReleaseResponse" type="PORX_MT122002UK31.PrescriptionReleaseResponse"/>
	<xs:complexType name="PORX_MT122002UK31.PrescriptionReleaseResponse">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="effectiveTime" type="TS"/>
			<xs:element name="component" type="PORX_MT122002UK31.Component" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation" type="PORX_MT122002UK31.PertinentInformation17" minOccurs="0" maxOccurs="2"/>
			<xs:element name="inFulfillmentOf" type="PORX_MT122002UK31.InFulfillmentOf1"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122002UK31.Component">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st"/>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="abstractPrescriptionResponse" type="PORX_MT122002UK31.AbstractPrescriptionResponse"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122002UK31.AbstractPrescriptionResponse">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="typeId" type="II" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122002UK31.PertinentInformation17">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentBatchInfo" type="PORX_MT122002UK31.BatchInfo"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122002UK31.BatchInfo">
		<xs:sequence>
			<xs:element name="code" type="CV"/>
			<xs:element name="value" type="INT"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122002UK31.InFulfillmentOf1">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="priorDownloadRequestRef" type="PORX_MT122002UK31.DownloadRequestRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122002UK31.DownloadRequestRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
</xs:schema>
