omvt/Schemas/PRSC_MT040101UK08_3107.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
<xs:include schemaLocation="../VocabSchema/NHSVocab_3107.xsd"/>
   
   <xs:include schemaLocation="../dt/datatypes_3107.xsd"/>
   
   <xs:include schemaLocation="../voc/voc_3107.xsd"/>
   
   <xs:annotation>
      
      <xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   
   </xs:annotation>
<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   
   <xs:element name="RequestAppointmentConfirmation" type="PRSC_MT040101UK08.RequestAppointmentConfirmation"/>
   <!-- XSDStrictMaker : ComplexType ignored due to being top level element -->
   <xs:complexType name="PRSC_MT040101UK08.RequestAppointmentConfirmation">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PRSC_MT040101UK08.Subject" minOccurs="1" maxOccurs="1" name="subject"/>
         
         <xs:element type="PRSC_MT040101UK08.Component" minOccurs="0" maxOccurs="1" name="component"/>
         
         <xs:element type="PRSC_MT040101UK08.PertinentInformation" minOccurs="0" maxOccurs="1" name="pertinentInformation2"/>
         
         <xs:element type="PRSC_MT040101UK08.PertinentInformation2" minOccurs="1" maxOccurs="1" name="pertinentInformation1"/>
         
         <xs:element type="PRSC_MT040101UK08.InFulfillmentOf2" minOccurs="1" maxOccurs="1" name="inFulfillmentOf"/>
         
         <xs:element type="PRSC_MT040101UK08.InFulfillmentOf" minOccurs="1" maxOccurs="1" name="fulfillment"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.Subject">
      
      <xs:sequence>
         
         <xs:element type="PRSC_MT040101UK08.Patient" minOccurs="1" maxOccurs="1" name="patient"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : New stricter complex type derived from II -->
   <xs:complexType name="IIPatient__PRSC_MT040101UK08">
      <xs:complexContent>
         <xs:restriction base="II">
            <xs:attribute name="root" type="uid" fixed="2.16.840.1.113883.2.1.4.1"/>
            <xs:attribute name="extension" type="st" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from II -->
   <xs:complexType name="PRSC_MT040101UK08.Patient">
      
      <xs:sequence>
         <!-- Patient OID tightened [II] -->
         <xs:element name="id" type="IIPatient__PRSC_MT040101UK08" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PRSC_MT040101UK08.Person" minOccurs="0" maxOccurs="1" name="patientPerson"/>
         
         <xs:element type="PRSC_MT040101UK08.SourceOf" minOccurs="0" maxOccurs="1" name="sourceOf"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Patient"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.Person">
      
      <xs:sequence>
         
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="unbounded"/>
         
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="administrativeGenderCode" type="CS_Sex" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="birthTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="addr" type="AD" minOccurs="1" maxOccurs="unbounded"/>
         
         <xs:element type="PRSC_MT040101UK08.LanguageCommunication" minOccurs="0" maxOccurs="1" name="languageCommunication"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Person"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.LanguageCommunication">
      
      <xs:sequence>
         
         <xs:element name="languageCode" type="CS_HumanLanguage" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="preferenceInd" type="BL" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="LanguageCommunication"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.SourceOf">
      
      <xs:sequence>
         
         <xs:element type="PRSC_MT040101UK08.GpRegisteredWith" minOccurs="1" maxOccurs="1" name="GpRegisteredWith"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleLink"/>
      
      <xs:attribute name="typeCode" type="RoleLinkType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PRSC_MT040101UK08.GpRegisteredWith">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PRSC_MT040101UK08.GpPerson" minOccurs="1" maxOccurs="1" name="playingGpPerson"/>
         
         <xs:element type="PRSC_MT040101UK08.GpPractice" minOccurs="1" maxOccurs="1" name="scopingGpPractice"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.GpPerson">
      
      <xs:sequence>
         
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Person"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PRSC_MT040101UK08.GpPractice">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="name" type="ON" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="telecom" type="TEL" minOccurs="1" maxOccurs="unbounded"/>
         
         <xs:element name="addr" type="AD" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Organization"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.Component">
      
      <xs:sequence>
         
         <xs:element type="PRSC_MT040101UK08.CorrespondenceSuppression" minOccurs="1" maxOccurs="1" name="correspondenceSuppression"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="PRSC_MT040101UK08.CorrespondenceSuppression">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV_CorrespondenceSuppression" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.PertinentInformation">
      
      <xs:sequence>
         
         <xs:element type="PRSC_MT040101UK08.CallbackConsent" minOccurs="1" maxOccurs="1" name="pertinentCallbackConsent"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="PRSC_MT040101UK08.CallbackConsent">
      
      <xs:sequence>
         
         <xs:element name="specialCourtesiesCode" type="CV_CallbackConsent" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="PatientEncounter"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.PertinentInformation2">
      
      <xs:sequence>
         
         <xs:element type="PRSC_MT040101UK08.ReferralInformation" minOccurs="1" maxOccurs="1" name="pertinentReferral"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="PRSC_MT040101UK08.ReferralInformation">
      
      <xs:sequence>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="priorityCode" type="CV_PriorityType" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PRSC_MT040101UK08.Author" minOccurs="1" maxOccurs="1" name="author"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.Author">
      
      <xs:sequence>
         
         <xs:element type="PRSC_MT040101UK08.AgentPersonSDS" minOccurs="1" maxOccurs="1" name="agentPersonSDS"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : New stricter complex type derived from II -->
   <xs:complexType name="IIAgentPersonSDS__PRSC_MT040101UK08">
      <xs:complexContent>
         <xs:restriction base="II">
            <xs:attribute name="root" type="uid" fixed="1.2.826.0.1285.0.2.0.67"/>
            <xs:attribute name="extension" type="st" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from II -->
   <xs:complexType name="PRSC_MT040101UK08.AgentPersonSDS">
      
      <xs:sequence>
         <!-- AgentPersonSDS OID tightened [II] -->
         <xs:element name="id" type="IIAgentPersonSDS__PRSC_MT040101UK08" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PRSC_MT040101UK08.PersonSDS" minOccurs="1" maxOccurs="1" name="agentPersonSDS"/>
         
         <xs:element type="PRSC_MT040101UK08.OrganisationSDS" minOccurs="1" maxOccurs="1" name="representedOrganisationSDS"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : New stricter complex type derived from II -->
   <xs:complexType name="IIPersonSDS__PRSC_MT040101UK08">
      <xs:complexContent>
         <xs:restriction base="II">
            <xs:attribute name="root" type="uid" fixed="1.2.826.0.1285.0.2.0.65"/>
            <xs:attribute name="extension" type="st" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from II -->
   <xs:complexType name="PRSC_MT040101UK08.PersonSDS">
      
      <xs:sequence>
         <!-- PersonSDS OID tightened [II] -->
         <xs:element name="id" type="IIPersonSDS__PRSC_MT040101UK08" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Person"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PRSC_MT040101UK08.OrganisationSDS">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Organization"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.InFulfillmentOf2">
      
      <xs:sequence>
         
         <xs:element type="PRSC_MT040101UK08.RequestedService" minOccurs="1" maxOccurs="1" name="priorRequestedService"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PRSC_MT040101UK08.RequestedService">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Supply"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRSC_MT040101UK08.InFulfillmentOf">
      
      <xs:sequence>
         
         <xs:element type="PRSC_MT040101UK08.AppointmentSlot" minOccurs="1" maxOccurs="1" name="appointmentSlot"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PRSC_MT040101UK08.AppointmentSlot">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Supply"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>

</xs:schema>
