omvt/Schemas/RCMR_MT030101UK03_3109.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
<xs:include schemaLocation="../VocabSchema/NHSVocab_3109.xsd"/>
	
   <xs:include schemaLocation="../dt/datatypes_3109.xsd"/>
	
   <xs:include schemaLocation="../voc/voc_3109.xsd"/>
	
   <xs:annotation>
		
      <xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
	
   </xs:annotation>
	<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
	
   <xs:include schemaLocation="UKCT_MT120101UK04_3109.xsd"/>
	
   <xs:include schemaLocation="UKCT_MT120501UK02_3109.xsd"/>
	
   <xs:include schemaLocation="RCCT_MT120101UK01_3109.xsd"/>
	
   <xs:element name="EhrExtract" type="RCMR_MT030101UK03.EhrExtract"/>
	<!-- XSDStrictMaker : ComplexType ignored due to being top level element -->
   <xs:complexType name="RCMR_MT030101UK03.EhrExtract">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="statusCode" type="CS"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="recordTarget" type="RCMR_MT030101UK03.PatientSubject"/>
			
         <xs:element name="author" type="RCMR_MT030101UK03.Author3"/>
			
         <xs:element name="destination" type="RCMR_MT030101UK03.Destination"/>
			
         <xs:element name="component" type="RCMR_MT030101UK03.Component" maxOccurs="unbounded"/>
			
         <xs:element name="inFulfillmentOf" type="RCMR_MT030101UK03.InFulfillmentOf2"/>
			
         <xs:element name="limitation" type="RCMR_MT030101UK03.Limitation"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.PatientSubject">
		
      <xs:sequence>
			
         <xs:element name="patient" type="RCMR_MT030101UK03.Patient"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from II -->
   <xs:complexType name="IIPatient__RCMR_MT030101UK03">
      <xs:complexContent>
         <xs:restriction base="II">
            <xs:attribute name="root" type="uid" fixed="2.16.840.1.113883.2.1.4.1"/>
            <xs:attribute name="extension" type="st" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from II -->
   <xs:complexType name="RCMR_MT030101UK03.Patient">
		
      <xs:sequence>
			<!-- Patient OID tightened [II] -->
         <xs:element name="id" type="IIPatient__RCMR_MT030101UK03"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Patient"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Author3">
		
      <xs:sequence>
			
         <xs:element name="time" type="TS"/>
			
         <xs:group ref="UKCT_MT120101UK04"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Destination">
		
      <xs:sequence>
			
         <xs:group ref="UKCT_MT120501UK02"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Component">
		
      <xs:sequence>
			
         <xs:element name="ehrFolder" type="RCMR_MT030101UK03.EhrFolder"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.EhrFolder">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="statusCode" type="CS"/>
			
         <xs:element name="effectiveTime" type="IVL_TS"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="author" type="RCMR_MT030101UK03.Author2"/>
			
         <xs:element name="responsibleParty" type="RCMR_MT030101UK03.ResponsibleParty"/>
			
         <xs:element name="component" type="RCMR_MT030101UK03.Component3" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Author2">
		
      <xs:sequence>
			
         <xs:element name="time" type="TS"/>
			
         <xs:group ref="UKCT_MT120101UK04"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.ResponsibleParty">
		
      <xs:sequence>
			
         <xs:element name="agentDirectory" type="RCMR_MT030101UK03.AgentDirectory"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.AgentDirectory">
		
      <xs:sequence>
			
         <xs:element name="part" type="RCMR_MT030101UK03.Part" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Part">
		
      <xs:sequence>
			
         <xs:group ref="RCCT_MT120101UK01"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="RoleLink"/>
		
      <xs:attribute name="typeCode" type="RoleLinkType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Component3">
		
      <xs:sequence>
			
         <xs:element name="ehrComposition" type="RCMR_MT030101UK03.EhrComposition"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.EhrComposition">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="code" type="CD_EhrCompositionName"/>
			
         <xs:element name="statusCode" type="CS_EhrActState"/>
			
         <xs:element name="effectiveTime" type="IVL_TS"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="author" type="RCMR_MT030101UK03.Author"/>
			
         <xs:element name="location" type="RCMR_MT030101UK03.Location" minOccurs="0"/>
			
         <xs:element name="Participant2" type="RCMR_MT030101UK03.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="component" type="RCMR_MT030101UK03.Component4" maxOccurs="unbounded"/>
			
         <xs:element name="replacementOf" type="RCMR_MT030101UK03.ReplacementOf2" minOccurs="0"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ContextStructure"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Author">
		
      <xs:sequence>
			
         <xs:element name="time" type="TS"/>
			
         <xs:element name="agentRef" type="RCMR_MT030101UK03.AgentRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="RCMR_MT030101UK03.AgentRef">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Location">
		
      <xs:sequence>
			
         <xs:element name="locatedEntity" type="RCMR_MT030101UK03.LocatedEntity"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVLocatedEntity_code_RCMR_MT030101UK03">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.2.1.6.7"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from CV -->
   <xs:complexType name="RCMR_MT030101UK03.LocatedEntity">
		
      <xs:sequence>
			<!-- LocatedEntity OID tightened [CV] -->
         <xs:element name="code" type="CV_EhrLocationType" minOccurs="0"/>
			
         <xs:element name="locatedPlace" type="RCMR_MT030101UK03.Place" minOccurs="0"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Place">
		
      <xs:sequence>
			
         <xs:element name="name" type="EN" minOccurs="0"/>
			
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="5"/>
			
         <xs:element name="addr" type="AD" minOccurs="0"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Place"/>
		
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
		
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Participant2">
		
      <xs:sequence>
			
         <xs:element name="agentRef" type="RCMR_MT030101UK03.AgentRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="x_RelAgentType_code" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Component4">
		
      <xs:sequence>
			
         <xs:choice>
				
            <xs:element name="CompoundStatement" type="RCMR_MT030101UK03.CompoundStatement"/>
				
            <xs:element name="EhrEmpty" type="RCMR_MT030101UK03.EhrEmpty"/>
				
            <xs:element name="LinkSet" type="RCMR_MT030101UK03.LinkSet"/>
				
            <xs:element name="MedicationStatement" type="RCMR_MT030101UK03.MedicationStatement"/>
				
            <xs:element name="NarrativeStatement" type="RCMR_MT030101UK03.NarrativeStatement"/>
				
            <xs:element name="ObservationStatement" type="RCMR_MT030101UK03.ObservationStatement"/>
				
            <xs:element name="PlanStatement" type="RCMR_MT030101UK03.PlanStatement"/>
				
            <xs:element name="RegistrationStatement" type="RCMR_MT030101UK03.RegistrationStatement"/>
				
            <xs:element name="RequestStatement" type="RCMR_MT030101UK03.RequestStatement"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Informant">
		
      <xs:sequence>
			
         <xs:element name="informantRole" type="RCMR_MT030101UK03.InformantRole"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.InformantRole">
		
      <xs:sequence>
			
         <xs:element name="code" type="CE_EhrPersonalRels" minOccurs="0"/>
			
         <xs:element name="playingPerson" type="RCMR_MT030101UK03.Person" minOccurs="0"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Person">
		
      <xs:sequence>
			
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="deceasedInd" type="BL" minOccurs="0"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Person"/>
		
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
		
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Participant">
		
      <xs:sequence>
			
         <xs:element name="time" type="IVL_TS" minOccurs="0"/>
			
         <xs:element name="agentRef" type="RCMR_MT030101UK03.AgentRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType_code" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.ReplacementOf">
		
      <xs:sequence>
			
         <xs:element name="priorStatementRef" type="RCMR_MT030101UK03.StatementRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="RCMR_MT030101UK03.StatementRef">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Act"/>
		
      <xs:attribute name="classCode" type="x_ClinicalStatement_code" use="required"/>
		
      <xs:attribute name="moodCode" type="x_StatementMood_code" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Reason">
		
      <xs:sequence>
			
         <xs:element name="justifyingStatementRef" type="RCMR_MT030101UK03.StatementRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Reference">
		
      <xs:sequence>
			
         <xs:element name="referredToExternalDocument" type="RCMR_MT030101UK03.ExternalDocument"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.ExternalDocument">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="code" type="CD_EhrAttachmentCode"/>
			
         <xs:element name="text" type="ED"/>
			
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			
         <xs:element name="setId" type="II" minOccurs="0"/>
			
         <xs:element name="versionNumber" type="INT" minOccurs="0"/>
			
         <xs:element name="author" type="RCMR_MT030101UK03.Author4" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Document"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Author4">
		
      <xs:sequence>
			
         <xs:element name="agentRef" type="RCMR_MT030101UK03.AgentRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.SequelTo">
		
      <xs:sequence>
			
         <xs:element name="priorStatementRef" type="RCMR_MT030101UK03.StatementRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVCompoundStatement_priorityCode_RCMR_MT030101UK03">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.2.1.3.2.4.15"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVCompoundStatement_uncertaintyCode_RCMR_MT030101UK03">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.5.1053"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from CV -->
   <xs:complexType name="RCMR_MT030101UK03.CompoundStatement">
		
      <xs:sequence>
			
         <xs:element name="id" type="II" maxOccurs="2"/>
			
         <xs:element name="code" type="CD"/>
			
         <xs:element name="statusCode" type="CS_EhrActState"/>
			
         <xs:element name="effectiveTime" type="IVL_TS"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			<!-- CompoundStatement OID tightened [CV] -->
         <xs:element name="priorityCode" type="CV_EhrPriority" minOccurs="0"/>
			<!-- CompoundStatement OID tightened [CV] -->
         <xs:element name="uncertaintyCode" type="CVCompoundStatement_uncertaintyCode_RCMR_MT030101UK03" minOccurs="0"/>
			
         <xs:element name="specimen" type="RCMR_MT030101UK03.Specimen03" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="component" type="RCMR_MT030101UK03.Component02" maxOccurs="unbounded"/>
			
         <xs:element name="informant" type="RCMR_MT030101UK03.Informant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="Participant" type="RCMR_MT030101UK03.Participant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="replacementOf" type="RCMR_MT030101UK03.ReplacementOf" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reason" type="RCMR_MT030101UK03.Reason" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reference" type="RCMR_MT030101UK03.Reference" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="sequelTo" type="RCMR_MT030101UK03.SequelTo" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Specimen03">
		
      <xs:sequence>
			
         <xs:element name="specimenRole" type="RCMR_MT030101UK03.SpecimenRole"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.SpecimenRole">
		
      <xs:sequence>
			
         <xs:element name="id" type="II" maxOccurs="2"/>
			
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			
         <xs:element name="specimenSpecimenMaterial" type="RCMR_MT030101UK03.SpecimenMaterial"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.SpecimenMaterial">
		
      <xs:sequence>
			
         <xs:element name="desc" type="ST"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Material"/>
		
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
		
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Component02">
		
      <xs:sequence>
			
         <xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			
         <xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			
         <xs:choice>
				
            <xs:element name="CompoundStatement" type="RCMR_MT030101UK03.CompoundStatement"/>
				
            <xs:element name="EhrEmpty" type="RCMR_MT030101UK03.EhrEmpty"/>
				
            <xs:element name="LinkSet" type="RCMR_MT030101UK03.LinkSet"/>
				
            <xs:element name="MedicationStatement" type="RCMR_MT030101UK03.MedicationStatement"/>
				
            <xs:element name="NarrativeStatement" type="RCMR_MT030101UK03.NarrativeStatement"/>
				
            <xs:element name="ObservationStatement" type="RCMR_MT030101UK03.ObservationStatement"/>
				
            <xs:element name="PlanStatement" type="RCMR_MT030101UK03.PlanStatement"/>
				
            <xs:element name="RegistrationStatement" type="RCMR_MT030101UK03.RegistrationStatement"/>
				
            <xs:element name="RequestStatement" type="RCMR_MT030101UK03.RequestStatement"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.EhrEmpty">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="informant" type="RCMR_MT030101UK03.Informant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="Participant" type="RCMR_MT030101UK03.Participant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="replacementOf" type="RCMR_MT030101UK03.ReplacementOf" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reason" type="RCMR_MT030101UK03.Reason" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reference" type="RCMR_MT030101UK03.Reference" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="sequelTo" type="RCMR_MT030101UK03.SequelTo" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="x_StatementMood_code" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.LinkSet">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="code" type="CD_EhrLinkSetType"/>
			
         <xs:element name="statusCode" type="CS_EhrActState"/>
			
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="component" type="RCMR_MT030101UK03.Component6" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="conditionNamed" type="RCMR_MT030101UK03.ConditionNamed" minOccurs="0"/>
			
         <xs:element name="informant" type="RCMR_MT030101UK03.Informant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="Participant" type="RCMR_MT030101UK03.Participant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="replacementOf" type="RCMR_MT030101UK03.ReplacementOf" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reason" type="RCMR_MT030101UK03.Reason" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reference" type="RCMR_MT030101UK03.Reference" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="sequelTo" type="RCMR_MT030101UK03.SequelTo" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Component6">
		
      <xs:sequence>
			
         <xs:element name="statementRef" type="RCMR_MT030101UK03.StatementRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.ConditionNamed">
		
      <xs:sequence>
			
         <xs:element name="namedStatementRef" type="RCMR_MT030101UK03.StatementRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="inversionInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVMedicationStatement_priorityCode_RCMR_MT030101UK03">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.2.1.3.2.4.15"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from CV -->
   <xs:complexType name="RCMR_MT030101UK03.MedicationStatement">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="statusCode" type="CS_EhrMedicationState"/>
			
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			<!-- MedicationStatement OID tightened [CV] -->
         <xs:element name="priorityCode" type="CV_EhrMedicationPriority" minOccurs="0"/>
			
         <xs:element name="consumable" type="RCMR_MT030101UK03.Consumable" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="component" type="RCMR_MT030101UK03.Component2" minOccurs="0" maxOccurs="3"/>
			
         <xs:element name="pertinentInformation" type="RCMR_MT030101UK03.PertinentInformation" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="informant" type="RCMR_MT030101UK03.Informant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="Participant" type="RCMR_MT030101UK03.Participant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="replacementOf" type="RCMR_MT030101UK03.ReplacementOf" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reason" type="RCMR_MT030101UK03.Reason" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reference" type="RCMR_MT030101UK03.Reference" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="sequelTo" type="RCMR_MT030101UK03.SequelTo" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="x_MedicationMood_code" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Consumable">
		
      <xs:sequence>
			
         <xs:element name="manufacturedProduct" type="RCMR_MT030101UK03.ManufacturedProduct"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.ManufacturedProduct">
		
      <xs:sequence>
			
         <xs:element name="manufacturedMaterial" type="RCMR_MT030101UK03.Material"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Material">
		
      <xs:sequence>
			
         <xs:element name="code" type="CE"/>
			
         <xs:element name="quantity" type="PQ" minOccurs="0"/>
			
         <xs:element name="expirationTime" type="TS" minOccurs="0"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
		
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
		
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Component2">
		
      <xs:sequence>
			
         <xs:choice>
				
            <xs:element name="ehrSupplyAuthorise" type="RCMR_MT030101UK03.Authorise"/>
				
            <xs:element name="ehrSupplyDiscontinue" type="RCMR_MT030101UK03.Discontinue"/>
				
            <xs:element name="ehrSupplyDispense" type="RCMR_MT030101UK03.Dispense"/>
				
            <xs:element name="ehrSupplyPrescribe" type="RCMR_MT030101UK03.Prescribe"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Performer">
		
      <xs:sequence>
			
         <xs:element name="time" type="TS" minOccurs="0"/>
			
         <xs:element name="agentRef" type="RCMR_MT030101UK03.AgentRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Product">
		
      <xs:sequence>
			
         <xs:element name="manufacturedProduct" type="RCMR_MT030101UK03.ManufacturedProduct"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.PertinentInformation2">
		
      <xs:sequence>
			
         <xs:element name="pertinentSupplyAnnotation" type="RCMR_MT030101UK03.SupplyAnnotation"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.SupplyAnnotation">
		
      <xs:sequence>
			
         <xs:element name="text" type="ED"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVAuthorise_code_RCMR_MT030101UK03">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.2.1.3.2.4.15"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from CV -->
   <xs:complexType name="RCMR_MT030101UK03.Authorise">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			<!-- Authorise OID tightened [CV] -->
         <xs:element name="code" type="CV_EhrSupplyType"/>
			
         <xs:element name="statusCode" type="CS_EhrSupplyState"/>
			
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="repeatNumber" type="INT" minOccurs="0"/>
			
         <xs:element name="quantity" type="PQ"/>
			
         <xs:element name="predecessor" type="RCMR_MT030101UK03.Predecessor" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="performer" type="RCMR_MT030101UK03.Performer" minOccurs="0"/>
			
         <xs:element name="consumable" type="RCMR_MT030101UK03.Product" minOccurs="0"/>
			
         <xs:element name="pertinentInformation" type="RCMR_MT030101UK03.PertinentInformation2" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Supply"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Predecessor">
		
      <xs:sequence>
			
         <xs:element name="priorMedicationRef" type="RCMR_MT030101UK03.MedicationRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="RCMR_MT030101UK03.MedicationRef">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="x_MedicationMood_code" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.Discontinue">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="code" type="CD"/>
			
         <xs:element name="statusCode" type="CS_EhrSupplyState"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="reversalOf" type="RCMR_MT030101UK03.ReversalOf" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="performer" type="RCMR_MT030101UK03.Performer" minOccurs="0"/>
			
         <xs:element name="consumable" type="RCMR_MT030101UK03.Product" minOccurs="0"/>
			
         <xs:element name="pertinentInformation" type="RCMR_MT030101UK03.PertinentInformation2" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Supply"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.ReversalOf">
		
      <xs:sequence>
			
         <xs:element name="priorMedicationRef" type="RCMR_MT030101UK03.MedicationRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVDispense_code_RCMR_MT030101UK03">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.2.1.3.2.4.15"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from CV -->
   <xs:complexType name="RCMR_MT030101UK03.Dispense">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			<!-- Dispense OID tightened [CV] -->
         <xs:element name="code" type="CV_EhrSupplyType"/>
			
         <xs:element name="statusCode" type="CS_EhrSupplyState"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="quantity" type="PQ"/>
			
         <xs:element name="inFulfillmentOf" type="RCMR_MT030101UK03.InFulfillmentOf" minOccurs="0"/>
			
         <xs:element name="performer" type="RCMR_MT030101UK03.Performer" minOccurs="0"/>
			
         <xs:element name="consumable" type="RCMR_MT030101UK03.Product" minOccurs="0"/>
			
         <xs:element name="pertinentInformation" type="RCMR_MT030101UK03.PertinentInformation2" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Supply"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.InFulfillmentOf">
		
      <xs:sequence>
			
         <xs:element name="priorMedicationRef" type="RCMR_MT030101UK03.MedicationRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVPrescribe_code_RCMR_MT030101UK03">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.2.1.3.2.4.15"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from CV -->
   <xs:complexType name="RCMR_MT030101UK03.Prescribe">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			<!-- Prescribe OID tightened [CV] -->
         <xs:element name="code" type="CV_EhrSupplyType"/>
			
         <xs:element name="statusCode" type="CS_EhrSupplyState"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="quantity" type="PQ"/>
			
         <xs:element name="inFulfillmentOf" type="RCMR_MT030101UK03.InFulfillmentOf02" minOccurs="0"/>
			
         <xs:element name="performer" type="RCMR_MT030101UK03.Performer" minOccurs="0"/>
			
         <xs:element name="consumable" type="RCMR_MT030101UK03.Product" minOccurs="0"/>
			
         <xs:element name="pertinentInformation" type="RCMR_MT030101UK03.PertinentInformation2" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Supply"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.InFulfillmentOf02">
		
      <xs:sequence>
			
         <xs:element name="priorMedicationRef" type="RCMR_MT030101UK03.MedicationRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.PertinentInformation">
		
      <xs:sequence>
			
         <xs:element name="pertinentMedicationDosage" type="RCMR_MT030101UK03.MedicationDosage"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.MedicationDosage">
		
      <xs:sequence>
			
         <xs:element name="text" type="ED"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="x_DosageMood_code" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.NarrativeStatement">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="text" type="ED"/>
			
         <xs:element name="statusCode" type="CS_EhrActState"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="informant" type="RCMR_MT030101UK03.Informant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="Participant" type="RCMR_MT030101UK03.Participant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="replacementOf" type="RCMR_MT030101UK03.ReplacementOf" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reason" type="RCMR_MT030101UK03.Reason" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reference" type="RCMR_MT030101UK03.Reference" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="sequelTo" type="RCMR_MT030101UK03.SequelTo" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVObservationStatement_priorityCode_RCMR_MT030101UK03">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.2.1.3.2.4.15"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from CV -->
   <xs:complexType name="RCMR_MT030101UK03.ObservationStatement">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="code" type="CD"/>
			
         <xs:element name="statusCode" type="CS_EhrActState"/>
			
         <xs:element name="effectiveTime" type="IVL_TS"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			<!-- ObservationStatement OID tightened [CV] -->
         <xs:element name="priorityCode" type="CV_EhrPriority" minOccurs="0"/>
			
         <xs:element name="uncertaintyCode" type="CV" minOccurs="0"/>
			
         <xs:element name="value" type="ANY" minOccurs="0"/>
			
         <xs:element name="interpretationCode" type="CV" minOccurs="0"/>
			
         <xs:element name="subject" type="RCMR_MT030101UK03.Subject" minOccurs="0"/>
			
         <xs:element name="specimen" type="RCMR_MT030101UK03.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="pertinentInformation" type="RCMR_MT030101UK03.PertinentInformation02" minOccurs="0" maxOccurs="3"/>
			
         <xs:element name="referenceRange" type="RCMR_MT030101UK03.ReferenceRange" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="informant" type="RCMR_MT030101UK03.Informant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="Participant" type="RCMR_MT030101UK03.Participant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="replacementOf" type="RCMR_MT030101UK03.ReplacementOf" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reason" type="RCMR_MT030101UK03.Reason" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reference" type="RCMR_MT030101UK03.Reference" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="sequelTo" type="RCMR_MT030101UK03.SequelTo" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Subject">
		
      <xs:sequence>
			
         <xs:element name="personalRelationship" type="RCMR_MT030101UK03.PersonalRelationship"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.PersonalRelationship">
		
      <xs:sequence>
			
         <xs:element name="code" type="CE_EhrPersonalRels" minOccurs="0"/>
			
         <xs:element name="relationshipHolder" type="RCMR_MT030101UK03.Person" minOccurs="0"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Specimen">
		
      <xs:sequence>
			
         <xs:element name="specimenRole" type="RCMR_MT030101UK03.SpecimenRole"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.PertinentInformation02">
		
      <xs:sequence>
			
         <xs:element name="sequenceNumber" type="INT"/>
			
         <xs:element name="pertinentAnnotation" type="RCMR_MT030101UK03.Annotation"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Annotation">
		
      <xs:sequence>
			
         <xs:element name="text" type="ST"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.ReferenceRange">
		
      <xs:sequence>
			
         <xs:element name="referenceInterpretationRange" type="RCMR_MT030101UK03.InterpretationRange"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.InterpretationRange">
		
      <xs:sequence>
			
         <xs:element name="text" type="ED" minOccurs="0"/>
			
         <xs:element name="value" type="IVL_PQ" minOccurs="0"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.PlanStatement">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="code" type="CD"/>
			
         <xs:element name="text" type="ED" minOccurs="0"/>
			
         <xs:element name="statusCode" type="CS_EhrActState"/>
			
         <xs:element name="effectiveTime" type="IVL_TS"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="priorityCode" type="CV_EhrPriority" minOccurs="0"/>
			
         <xs:element name="informant" type="RCMR_MT030101UK03.Informant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="Participant" type="RCMR_MT030101UK03.Participant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="replacementOf" type="RCMR_MT030101UK03.ReplacementOf" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reason" type="RCMR_MT030101UK03.Reason" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reference" type="RCMR_MT030101UK03.Reference" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="sequelTo" type="RCMR_MT030101UK03.SequelTo" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.RegistrationStatement">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			
         <xs:element name="code" type="CE_EhrRegistrationCode"/>
			
         <xs:element name="statusCode" type="CS_EhrActState"/>
			
         <xs:element name="effectiveTime" type="IVL_TS"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="responsibleParty" type="RCMR_MT030101UK03.ResponsibleParty2" minOccurs="0"/>
			
         <xs:element name="informant" type="RCMR_MT030101UK03.Informant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="Participant" type="RCMR_MT030101UK03.Participant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="replacementOf" type="RCMR_MT030101UK03.ReplacementOf" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reason" type="RCMR_MT030101UK03.Reason" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reference" type="RCMR_MT030101UK03.Reference" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="sequelTo" type="RCMR_MT030101UK03.SequelTo" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.ResponsibleParty2">
		
      <xs:sequence>
			
         <xs:element name="agentRef" type="RCMR_MT030101UK03.AgentRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.RequestStatement">
		
      <xs:sequence>
			
         <xs:element name="id" type="II" maxOccurs="2"/>
			
         <xs:element name="code" type="CD"/>
			
         <xs:element name="text" type="ED" minOccurs="0"/>
			
         <xs:element name="statusCode" type="CS_EhrActState"/>
			
         <xs:element name="effectiveTime" type="IVL_TS"/>
			
         <xs:element name="availabilityTime" type="TS"/>
			
         <xs:element name="priorityCode" type="CV_EhrReferralPriority" minOccurs="0"/>
			
         <xs:element name="responsibleParty" type="RCMR_MT030101UK03.ResponsibleParty3" minOccurs="0"/>
			
         <xs:element name="informant" type="RCMR_MT030101UK03.Informant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="Participant" type="RCMR_MT030101UK03.Participant" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="replacementOf" type="RCMR_MT030101UK03.ReplacementOf" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reason" type="RCMR_MT030101UK03.Reason" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="reference" type="RCMR_MT030101UK03.Reference" minOccurs="0" maxOccurs="unbounded"/>
			
         <xs:element name="sequelTo" type="RCMR_MT030101UK03.SequelTo" minOccurs="0" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="RCMR_MT030101UK03.ResponsibleParty3">
		
      <xs:sequence>
			
         <xs:element name="modeCode" type="CV_EhrRequestMode" minOccurs="0"/>
			
         <xs:element name="agentRef" type="RCMR_MT030101UK03.AgentRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.ReplacementOf2">
		
      <xs:sequence>
			
         <xs:element name="priorCompositionRef" type="RCMR_MT030101UK03.CompositionRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="RCMR_MT030101UK03.CompositionRef">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ContextStructure"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.InFulfillmentOf2">
		
      <xs:sequence>
			
         <xs:element name="priorEhrRequest" type="RCMR_MT030101UK03.EhrRequest"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="RCMR_MT030101UK03.EhrRequest">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="RCMR_MT030101UK03.Limitation">
		
      <xs:sequence>
			
         <xs:element name="limitingEhrExtractSpecification" type="RCMR_MT030101UK03.EhrExtractSpecification"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="inversionInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVEhrExtractSpecification_code_RCMR_MT030101UK03">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.2.1.3.2.4.15"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from CV -->
   <xs:complexType name="RCMR_MT030101UK03.EhrExtractSpecification">
		
      <xs:sequence>
			
         <xs:element name="id" type="II"/>
			<!-- EhrExtractSpecification OID tightened [CV] -->
         <xs:element name="code" type="CV_EhrExtractSpec"/>
			
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>

</xs:schema>
