omvt/Schemas/UKCT_MT140101UK01_3109.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
<xs:include schemaLocation="../VocabSchema/NHSVocab_3109.xsd"/>
   
   <xs:include schemaLocation="../dt/datatypes_3109.xsd"/>
   
   <xs:include schemaLocation="../voc/voc_3109.xsd"/>
   
   <xs:annotation>
      
      <xs:documentation>
		Generated using schema builder version 1.21p12_5.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   
   </xs:annotation>
<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12_5, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   
   <xs:include schemaLocation="UKCT_MT120601UK02_3109.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120201UK03_3109.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120501UK03_3109.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120301UK02_3109.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120401UK03_3109.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT140301UK01_3109.xsd"/>
   
   <xs:complexType name="UKCT_MT140101UK01.Author">
      
      <xs:sequence>
         
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:choice>
            
            <xs:element name="NonAgentRole" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK01.NonAgentRole"/>
            
            <xs:element name="AgentDevice" minOccurs="1" maxOccurs="1" type="UKCT_MT120601UK02.AgentDevice"/>
            
            <xs:element name="AgentPerson" minOccurs="1" maxOccurs="1" type="UKCT_MT120201UK03.AgentPerson"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="UKCT_MT140101UK01.NonAgentRole">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="code" type="CV_PersonRelationshipType" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.NonAgentPerson" minOccurs="0" maxOccurs="1" name="playingNonAgentPerson"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.NonAgentPerson">
      
      <xs:sequence>
         
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Person"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.PrimaryInformationRecipient">
      
      <xs:sequence>
         
         <xs:choice>
            
            <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120501UK03.AgentOrgSDS"/>
            
            <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120301UK02.AgentPersonSDS"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.Tracker">
      
      <xs:sequence>
         
         <xs:choice>
            
            <xs:element name="AgentOrg" minOccurs="1" maxOccurs="1" type="UKCT_MT120401UK03.AgentOrg"/>
            
            <xs:element name="AgentPerson" minOccurs="1" maxOccurs="1" type="UKCT_MT120201UK03.AgentPerson"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.PertinentInformation5">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.ReasonSupportingInfo" minOccurs="1" maxOccurs="1" name="pertinentReasonSupportingInfo"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="UKCT_MT140101UK01.ReasonSupportingInfo">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV_ReasonFor" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.PertinentInformation6">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.RecommendationReviewdate" minOccurs="1" maxOccurs="1" name="pertinentRecommendationReviewdate"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="UKCT_MT140101UK01.RecommendationReviewdate">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV_PrescriptionAnnotation" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.Reason">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st"/>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:choice>
            
            <xs:choice>
               
               <xs:element name="justifyingObservation" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK01.Observation"/>
               
               <xs:element name="justifyingReasonRef" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK01.ReasonRef"/>
            
            </xs:choice>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="optional"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140101UK01.Observation">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="UKCT_MT140101UK01.ReasonRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.SourceOf">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="UKCT_MT140101UK01.ActRef" minOccurs="1" maxOccurs="1" name="ActRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="UKCT_MT140101UK01.ActRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140101UK01.RecommendAvoidMedication">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.Consumable" minOccurs="1" maxOccurs="1" name="consumable"/>
         
         <xs:element name="author" type="UKCT_MT140101UK01.Author" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK01.PrimaryInformationRecipient" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="tracker" type="UKCT_MT140101UK01.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140101UK01.PertinentInformation5" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="pertinentInformation6" type="UKCT_MT140101UK01.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="reason" type="UKCT_MT140101UK01.Reason" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf" type="UKCT_MT140101UK01.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.Consumable">
      
      <xs:sequence>
         
         <xs:choice>
            
            <xs:choice>
               
               <xs:element name="ManufacturedProduct" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK01.ManufacturedProduct"/>
               
               <xs:element name="MaterialCategory" minOccurs="1" maxOccurs="1" type="UKCT_MT140101UK01.MaterialCategory"/>
            
            </xs:choice>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.ManufacturedProduct">
      
      <xs:sequence>
         
         <xs:element type="UKCT_MT140101UK01.ManufacturedMaterial" minOccurs="1" maxOccurs="1" name="manufacturedManufacturedMaterial"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.ManufacturedMaterial">
      
      <xs:sequence>
         
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.MaterialCategory">
      
      <xs:sequence>
         
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140101UK01.RecommendDiscontinueMedicationAdministration">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.PertinentInformation8" minOccurs="0" maxOccurs="1" name="pertinentInformation"/>
         
         <xs:element type="UKCT_MT140101UK01.SequelTo4" minOccurs="1" maxOccurs="1" name="sequelTo"/>
         
         <xs:element name="author" type="UKCT_MT140101UK01.Author" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK01.PrimaryInformationRecipient" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="tracker" type="UKCT_MT140101UK01.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140101UK01.PertinentInformation5" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="pertinentInformation6" type="UKCT_MT140101UK01.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="reason" type="UKCT_MT140101UK01.Reason" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf" type="UKCT_MT140101UK01.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.PertinentInformation8">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.WhenToDiscontinue" minOccurs="1" maxOccurs="1" name="pertinentWhenToDiscontinue"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="UKCT_MT140101UK01.WhenToDiscontinue">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV_PrescriptionAnnotation" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.SequelTo4">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="UKCT_MT140101UK01.AdministerMedicationRef" minOccurs="1" maxOccurs="1" name="priorAdministerMedicationRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="UKCT_MT140101UK01.AdministerMedicationRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140101UK01.RecommendDosageChange">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.PertinentInformation4" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
         
         <xs:element type="UKCT_MT140101UK01.PertinentInformation7" minOccurs="0" maxOccurs="unbounded" name="pertinentInformation1"/>
         
         <xs:element type="UKCT_MT140101UK01.SequelTo3" minOccurs="1" maxOccurs="1" name="sequelTo"/>
         
         <xs:element name="author" type="UKCT_MT140101UK01.Author" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK01.PrimaryInformationRecipient" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="tracker" type="UKCT_MT140101UK01.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140101UK01.PertinentInformation5" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="pertinentInformation6" type="UKCT_MT140101UK01.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="reason" type="UKCT_MT140101UK01.Reason" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf" type="UKCT_MT140101UK01.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.PertinentInformation4">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.DosageInstructions" minOccurs="1" maxOccurs="1" name="pertinentDosageInstructions"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="UKCT_MT140101UK01.DosageInstructions">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV_PrescriptionAnnotation" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.PertinentInformation7">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.AdditionalInstructions" minOccurs="1" maxOccurs="1" name="pertinentAdditionalInstructions"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="UKCT_MT140101UK01.AdditionalInstructions">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV_PrescriptionAnnotation" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.SequelTo3">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="UKCT_MT140101UK01.AdministerMedicationRef" minOccurs="1" maxOccurs="1" name="priorAdministerMedicationRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140101UK01.RecommendMaintainMedication">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.SequelTo5" minOccurs="1" maxOccurs="1" name="sequelTo"/>
         
         <xs:element name="author" type="UKCT_MT140101UK01.Author" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK01.PrimaryInformationRecipient" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="tracker" type="UKCT_MT140101UK01.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140101UK01.PertinentInformation5" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="pertinentInformation6" type="UKCT_MT140101UK01.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="reason" type="UKCT_MT140101UK01.Reason" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf" type="UKCT_MT140101UK01.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.SequelTo5">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="UKCT_MT140101UK01.AdministerMedicationRef" minOccurs="1" maxOccurs="1" name="priorAdministerMedicationRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140101UK01.RecommendMedicationAdministration">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.Consumable" minOccurs="1" maxOccurs="1" name="consumable"/>
         
         <xs:element type="UKCT_MT140101UK01.PertinentInformation2" minOccurs="0" maxOccurs="unbounded" name="pertinentInformation1"/>
         
         <xs:element type="UKCT_MT140101UK01.PertinentInformation3" minOccurs="0" maxOccurs="1" name="pertinentInformation2"/>
         
         <xs:element type="UKCT_MT140101UK01.SequelTo2" minOccurs="0" maxOccurs="1" name="sequelTo"/>
         
         <xs:element name="author" type="UKCT_MT140101UK01.Author" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK01.PrimaryInformationRecipient" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="tracker" type="UKCT_MT140101UK01.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140101UK01.PertinentInformation5" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="pertinentInformation6" type="UKCT_MT140101UK01.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="reason" type="UKCT_MT140101UK01.Reason" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf" type="UKCT_MT140101UK01.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.PertinentInformation2">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.AdditionalInstructions" minOccurs="1" maxOccurs="1" name="pertinentAdditionalInstructions"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.PertinentInformation3">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.DosageInstructions" minOccurs="1" maxOccurs="1" name="pertinentDosageInstructions"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.SequelTo2">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="UKCT_MT140101UK01.RecommendationRef" minOccurs="1" maxOccurs="1" name="priorRecommendationRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="UKCT_MT140101UK01.RecommendationRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140101UK01.RecommendMedicationSubstitution">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140101UK01.PertinentInformation" minOccurs="1" maxOccurs="1" name="pertinentInformation"/>
         
         <xs:element type="UKCT_MT140101UK01.SequelTo1" minOccurs="1" maxOccurs="1" name="sequelTo"/>
         
         <xs:element name="author" type="UKCT_MT140101UK01.Author" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="primaryInformationRecipient" type="UKCT_MT140101UK01.PrimaryInformationRecipient" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="tracker" type="UKCT_MT140101UK01.Tracker" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140101UK01.PertinentInformation5" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="pertinentInformation6" type="UKCT_MT140101UK01.PertinentInformation6" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="reason" type="UKCT_MT140101UK01.Reason" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf" type="UKCT_MT140101UK01.SourceOf" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.PertinentInformation">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="PlanMedicationAdministration" type="UKCT_MT140301UK01.PlanMedicationAdministration" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140101UK01.SequelTo1">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="UKCT_MT140101UK01.MedicationAdministrationRef" minOccurs="1" maxOccurs="1" name="priorMedicationAdministrationRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="UKCT_MT140101UK01.MedicationAdministrationRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>

</xs:schema>
