omvt/Schemas/UKCT_MT140901UK02_3110.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
<xs:include schemaLocation="../VocabSchema/NHSVocab_3110.xsd"/>
   
   <xs:include schemaLocation="../dt/datatypes_3110.xsd"/>
   
   <xs:include schemaLocation="../voc/voc_3110.xsd"/>
   
   <xs:annotation>
      
      <xs:documentation>
		Generated using schema builder version 1.21p12_3.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   
   </xs:annotation>
<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12_3, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   
   <xs:include schemaLocation="UKCT_MT120601UK02_3110.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120201UK03_3110.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120501UK03_3110.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120101UK04_3110.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT141001UK01_3110.xsd"/>
   
   <xs:complexType name="UKCT_MT140901UK02.Subject">
      
      <xs:sequence>
         
         <xs:element type="UKCT_MT140901UK02.SubjectRole" minOccurs="1" maxOccurs="1" name="subjectRole"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="UKCT_MT140901UK02.SubjectRole">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="code" type="CV_PersonRelationshipType" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.SubjectPerson" minOccurs="0" maxOccurs="1" name="documentSubject"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="x_DocumentSubject" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.SubjectPerson">
      
      <xs:sequence>
         
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Person"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Performer">
      
      <xs:sequence>
         
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:choice>
            
            <xs:element name="NonAgentRole" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.NonAgentRole"/>
            
            <xs:element name="AgentDevice" minOccurs="1" maxOccurs="1" type="UKCT_MT120601UK02.AgentDevice"/>
            
            <xs:element name="AgentPerson" minOccurs="1" maxOccurs="1" type="UKCT_MT120201UK03.AgentPerson"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="UKCT_MT140901UK02.NonAgentRole">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="code" type="CV_PersonRelationshipType" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.NonAgentPerson" minOccurs="0" maxOccurs="1" name="playingNonAgentPerson"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.NonAgentPerson">
      
      <xs:sequence>
         
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Person"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Author1">
      
      <xs:sequence>
         
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:choice>
            
            <xs:element name="NonAgentRole" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.NonAgentRole"/>
            
            <xs:element name="AgentDevice" minOccurs="1" maxOccurs="1" type="UKCT_MT120601UK02.AgentDevice"/>
            
            <xs:element name="AgentPerson" minOccurs="1" maxOccurs="1" type="UKCT_MT120201UK03.AgentPerson"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Location">
      
      <xs:sequence>
         
         <xs:choice>
            
            <xs:element name="IncidentalLocation" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.IncidentalLocation"/>
            
            <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120501UK03.AgentOrgSDS"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="UKCT_MT140901UK02.IncidentalLocation">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.Place" minOccurs="0" maxOccurs="1" name="location"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Place">
      
      <xs:sequence>
         
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="positionText" type="ED" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="gpsText" type="ST" minOccurs="0" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Place"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Informant">
      
      <xs:sequence>
         
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:choice>
            
            <xs:element name="NonAgentRole" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.NonAgentRole"/>
            
            <xs:element name="AgentDevice" minOccurs="1" maxOccurs="1" type="UKCT_MT120601UK02.AgentDevice"/>
            
            <xs:element name="AgentPerson" minOccurs="1" maxOccurs="1" type="UKCT_MT120201UK03.AgentPerson"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Participant">
      
      <xs:sequence>
         
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:choice>
            
            <xs:element name="Agent" type="UKCT_MT120101UK04.Agent" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="AgentRef" type="UKCT_MT120101UK04.AgentRef" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="AgentSDS" type="UKCT_MT120101UK04.AgentSDS" minOccurs="1" maxOccurs="1"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType_code" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.PertinentInformation13">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.SupportingInfo" minOccurs="1" maxOccurs="1" name="pertinentSupportingInfo"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="UKCT_MT140901UK02.SupportingInfo">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.PertinentInformation722">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:choice>
            
            <xs:element name="AdministerMedicationCourse" type="UKCT_MT140701UK01.AdministerMedicationCourse" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="AdministerMedicationDose" type="UKCT_MT140201UK01.AdministerMedicationDose" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="PlanMedicationAdministration" type="UKCT_MT140301UK01.PlanMedicationAdministration" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="RecommendAvoidMedication" type="UKCT_MT140101UK01.RecommendAvoidMedication" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="RecommendDiscontinueMedicationAdministration" type="UKCT_MT140101UK01.RecommendDiscontinueMedicationAdministration" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="RecommendDosageChange" type="UKCT_MT140101UK01.RecommendDosageChange" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="RecommendMaintainMedication" type="UKCT_MT140101UK01.RecommendMaintainMedication" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="RecommendMedicationAdministration" type="UKCT_MT140101UK01.RecommendMedicationAdministration" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="RecommendMedicationSubstitution" type="UKCT_MT140101UK01.RecommendMedicationSubstitution" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="RequestMedicationAdministration" type="UKCT_MT140801UK01.RequestMedicationAdministration" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="RequestMedicationSupplyAbort" type="UKCT_MT140601UK01.RequestMedicationSupplyAbort" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="RequestMedicationSupply" type="UKCT_MT140401UK01.RequestMedicationSupply" minOccurs="1" maxOccurs="1"/>
            
            <xs:element name="SupplyMedication" type="UKCT_MT140501UK01.SupplyMedication" minOccurs="1" maxOccurs="1"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.SourceOf2">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:choice>
            
            <xs:element name="CareEvent" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.CareEvent"/>
            
            <xs:element name="Consent" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.Consent"/>
            
            <xs:element name="Observation" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.Observation"/>
            
            <xs:element name="Organizer" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.Organizer"/>
            
            <xs:element name="Procedure" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.Procedure"/>
            
            <xs:element name="StatementRelationship" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.StatementRelationship"/>
            
            <xs:element name="SubstanceAdministration" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.SubstanceAdministration"/>
            
            <xs:element name="Supply" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.Supply"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.SourceOf322">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="UKCT_MT140901UK02.ActRef" minOccurs="1" maxOccurs="1" name="ActRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="UKCT_MT140901UK02.ActRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140901UK02.CareEvent">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.PertinentInformation11" minOccurs="0" maxOccurs="1" name="pertinentInformation1"/>
         
         <xs:element type="UKCT_MT140901UK02.PertinentInformation12" minOccurs="1" maxOccurs="1" name="pertinentInformation3"/>
         
         <xs:element type="UKCT_MT140901UK02.PertinentInformation22" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
         
         <xs:element name="subject" type="UKCT_MT140901UK02.Subject" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="performer" type="UKCT_MT140901UK02.Performer" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="author" type="UKCT_MT140901UK02.Author1" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="location" type="UKCT_MT140901UK02.Location" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="informant" type="UKCT_MT140901UK02.Informant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="Participant" type="UKCT_MT140901UK02.Participant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK02.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK02.PertinentInformation722" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf2" type="UKCT_MT140901UK02.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf1" type="UKCT_MT140901UK02.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="PatientEncounter"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.PertinentInformation11">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.CareEventCommentary" minOccurs="1" maxOccurs="1" name="pertinentCareEventCommentary"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.CareEventCommentary">
      
      <xs:sequence>
         
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.PertinentInformation12">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.ServiceType" minOccurs="1" maxOccurs="1" name="pertinentServiceType"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="UKCT_MT140901UK02.ServiceType">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.PertinentInformation22">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.CareSetting" minOccurs="1" maxOccurs="1" name="pertinentCareSetting"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="UKCT_MT140901UK02.CareSetting">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140901UK02.Consent">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="subject" type="UKCT_MT140901UK02.Subject" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="performer" type="UKCT_MT140901UK02.Performer" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="author" type="UKCT_MT140901UK02.Author1" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="location" type="UKCT_MT140901UK02.Location" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="informant" type="UKCT_MT140901UK02.Informant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="Participant" type="UKCT_MT140901UK02.Participant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK02.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK02.PertinentInformation722" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf2" type="UKCT_MT140901UK02.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf1" type="UKCT_MT140901UK02.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140901UK02.Observation">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.Specimen" minOccurs="0" maxOccurs="unbounded" name="specimen"/>
         
         <xs:element type="UKCT_MT140901UK02.ReferenceRange" minOccurs="0" maxOccurs="1" name="referenceRange"/>
         
         <xs:element name="subject" type="UKCT_MT140901UK02.Subject" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="performer" type="UKCT_MT140901UK02.Performer" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="author" type="UKCT_MT140901UK02.Author1" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="location" type="UKCT_MT140901UK02.Location" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="informant" type="UKCT_MT140901UK02.Informant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="Participant" type="UKCT_MT140901UK02.Participant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK02.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK02.PertinentInformation722" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf2" type="UKCT_MT140901UK02.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf1" type="UKCT_MT140901UK02.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Specimen">
      
      <xs:sequence>
         
         <xs:element type="UKCT_MT140901UK02.SpecimenRole" minOccurs="1" maxOccurs="1" name="specimenRole"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="UKCT_MT140901UK02.SpecimenRole">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.Material" minOccurs="1" maxOccurs="1" name="specimenMaterial"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="UKCT_MT140901UK02.Material">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Material"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.ReferenceRange">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.ReferenceValue" minOccurs="1" maxOccurs="1" name="referenceReferenceValue"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.ReferenceValue">
      
      <xs:sequence>
         
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="value" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="interpretationCode" type="CS_Interpretation" minOccurs="0" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140901UK02.Organizer">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.Specimen" minOccurs="0" maxOccurs="unbounded" name="specimen"/>
         
         <xs:element type="UKCT_MT140901UK02.Component3" minOccurs="2" maxOccurs="unbounded" name="component"/>
         
         <xs:element name="subject" type="UKCT_MT140901UK02.Subject" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="performer" type="UKCT_MT140901UK02.Performer" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="author" type="UKCT_MT140901UK02.Author1" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="location" type="UKCT_MT140901UK02.Location" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="informant" type="UKCT_MT140901UK02.Informant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="Participant" type="UKCT_MT140901UK02.Participant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK02.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK02.PertinentInformation722" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf2" type="UKCT_MT140901UK02.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf1" type="UKCT_MT140901UK02.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="cs" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Component3">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.component"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:choice>
            
            <xs:element name="CareEvent" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.CareEvent"/>
            
            <xs:element name="Consent" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.Consent"/>
            
            <xs:element name="Observation" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.Observation"/>
            
            <xs:element name="Organizer" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.Organizer"/>
            
            <xs:element name="Procedure" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.Procedure"/>
            
            <xs:element name="StatementRelationship" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.StatementRelationship"/>
            
            <xs:element name="SubstanceAdministration" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.SubstanceAdministration"/>
            
            <xs:element name="Supply" minOccurs="1" maxOccurs="1" type="UKCT_MT140901UK02.Supply"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140901UK02.Procedure">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.Product2" minOccurs="0" maxOccurs="unbounded" name="product"/>
         
         <xs:element name="subject" type="UKCT_MT140901UK02.Subject" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="performer" type="UKCT_MT140901UK02.Performer" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="author" type="UKCT_MT140901UK02.Author1" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="location" type="UKCT_MT140901UK02.Location" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="informant" type="UKCT_MT140901UK02.Informant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="Participant" type="UKCT_MT140901UK02.Participant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK02.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK02.PertinentInformation722" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf2" type="UKCT_MT140901UK02.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf1" type="UKCT_MT140901UK02.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Procedure"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Product2">
      
      <xs:sequence>
         
         <xs:element type="UKCT_MT140901UK02.SpecimenRole" minOccurs="1" maxOccurs="1" name="specimenRole"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140901UK02.StatementRelationship">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.PertinentInformation18" minOccurs="1" maxOccurs="1" name="pertinentInformation1"/>
         
         <xs:element type="UKCT_MT140901UK02.PertinentInformation19" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
         
         <xs:element name="subject" type="UKCT_MT140901UK02.Subject" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="performer" type="UKCT_MT140901UK02.Performer" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="author" type="UKCT_MT140901UK02.Author1" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="location" type="UKCT_MT140901UK02.Location" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="informant" type="UKCT_MT140901UK02.Informant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="Participant" type="UKCT_MT140901UK02.Participant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK02.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK02.PertinentInformation722" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf2" type="UKCT_MT140901UK02.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf1" type="UKCT_MT140901UK02.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.PertinentInformation18">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="UKCT_MT140901UK02.ActRef" minOccurs="1" maxOccurs="1" name="pertinentActRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.PertinentInformation19">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="UKCT_MT140901UK02.ActRef" minOccurs="1" maxOccurs="1" name="pertinentActRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140901UK02.SubstanceAdministration">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.Consumable1" minOccurs="0" maxOccurs="unbounded" name="consumable"/>
         
         <xs:element name="subject" type="UKCT_MT140901UK02.Subject" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="performer" type="UKCT_MT140901UK02.Performer" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="author" type="UKCT_MT140901UK02.Author1" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="location" type="UKCT_MT140901UK02.Location" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="informant" type="UKCT_MT140901UK02.Informant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="Participant" type="UKCT_MT140901UK02.Participant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK02.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK02.PertinentInformation722" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf2" type="UKCT_MT140901UK02.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf1" type="UKCT_MT140901UK02.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="cs" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Consumable1">
      
      <xs:sequence>
         
         <xs:element type="UKCT_MT140901UK02.ManufacturedProduct" minOccurs="1" maxOccurs="1" name="manufacturedProduct"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.ManufacturedProduct">
      
      <xs:sequence>
         
         <xs:element type="UKCT_MT140901UK02.ManufacturedMaterial" minOccurs="1" maxOccurs="1" name="manufacturedManufacturedMaterial"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.ManufacturedMaterial">
      
      <xs:sequence>
         
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="UKCT_MT140901UK02.Supply">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="UKCT_MT140901UK02.Product" minOccurs="0" maxOccurs="unbounded" name="product"/>
         
         <xs:element name="subject" type="UKCT_MT140901UK02.Subject" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="performer" type="UKCT_MT140901UK02.Performer" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="author" type="UKCT_MT140901UK02.Author1" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="location" type="UKCT_MT140901UK02.Location" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="informant" type="UKCT_MT140901UK02.Informant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="Participant" type="UKCT_MT140901UK02.Participant" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation4" type="UKCT_MT140901UK02.PertinentInformation13" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="pertinentInformation5" type="UKCT_MT140901UK02.PertinentInformation722" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf2" type="UKCT_MT140901UK02.SourceOf2" minOccurs="0" maxOccurs="unbounded"/>
         
         <xs:element name="sourceOf1" type="UKCT_MT140901UK02.SourceOf322" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Supply"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="UKCT_MT140901UK02.Product">
      
      <xs:sequence>
         
         <xs:element type="UKCT_MT140901UK02.ManufacturedProduct" minOccurs="1" maxOccurs="1" name="manufacturedProduct"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>

</xs:schema>
