CPIS/Schemas/REPC_MT000004GB01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:npfitlc="NPFIT:HL7:Localisation"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : REPC_MT000004GB01.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012,2013 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../VocabularySchemas/CPVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-100036_Role.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-100037_Role.xsd"/>
   <xs:element name="CP-ISAccessToServiceNotification"
               type="REPC_MT000004GB01.CP-ISAccessToServiceNotification"/>
   <xs:complexType name="REPC_MT000004GB01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:group ref="NPFIT-100037_Role"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.CP-ISAccessToServiceNotification">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="05" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited"
                                   fixed="CP-IS Access to Service Notification"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.470"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="TS">
                     <xs:attribute name="value" use="required" type="ts"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="REPC_MT000004GB01.PertinentInformation"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation1" type="REPC_MT000004GB01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="primaryInformationRecipient"
                     type="REPC_MT000004GB01.PrimaryInformationRecipient"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="INFRM"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.CP-ISNHSQuery">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="03" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited" fixed="CP-IS NHS Query" type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.470"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="TS">
                     <xs:attribute name="value" use="required" type="ts"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="REPC_MT000004GB01.Author" minOccurs="1" maxOccurs="1"/>
         <xs:element name="queryByParameter" type="REPC_MT000004GB01.QueryByParameter" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="CACT"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.CP-ISRecordAccess">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="CRA" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited" fixed="CP-IS Record Access" type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.469"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentInformation2" type="REPC_MT000004GB01.PertinentInformation3"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="reference" type="REPC_MT000004GB01.Reference" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="INFRM"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.LAUploadFile">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="LAUFI" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited" fixed="LA Upload File Id" type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.469"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" type="II.NHS.extension.mandatory" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.Person.id">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="0" fixed="Person.id"/>
         <xs:element name="value"
                     type="II.NPfIT.oid.mandatoryAndEnumerated.assignedAuthority.optional"
                     minOccurs="1"
                     maxOccurs="2"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pertinentTotalReturnedRecords"
                     type="REPC_MT000004GB01.TotalReturnedRecords"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PERT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pertinentCP-ISRecordAccess" type="REPC_MT000004GB01.CP-ISRecordAccess"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PERT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.PertinentInformation3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pertinentCP-ISNHSQuery" type="REPC_MT000004GB01.CP-ISNHSQuery"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PERT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.PrimaryInformationRecipient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:group ref="NPFIT-100036_Role"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PRCP"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.QueryByParameter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="person.id" type="REPC_MT000004GB01.Person.id" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="referredToLAUploadFile" type="REPC_MT000004GB01.LAUploadFile"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="REFR"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000004GB01.TotalReturnedRecords">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="TRR" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited" fixed="Total Returned Records" type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.469"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="INT">
                     <xs:attribute name="value" use="required" type="int"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
</xs:schema>