CPIS/Schemas/REPC_MT000007GB01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:npfitlc="NPFIT:HL7:Localisation"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* 		XML schema for message type : REPC_MT000007GB01.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012,2013 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../VocabularySchemas/CPVocab.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
   <xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-100037_Role.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-100035_Role.xsd"/>
   <xs:include schemaLocation="../TemplateSchemas/NPFIT-100018_Act.xsd"/>
   <xs:element name="CP-ISNHSQueryResponse" type="REPC_MT000007GB01.CP-ISNHSQueryResponse"/>
   <xs:complexType name="REPC_MT000007GB01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:group ref="NPFIT-100037_Role"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.CommunicationFunctionSnd">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="organisation" type="REPC_MT000007GB01.Organisation" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="SND"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.CP-ISNHSQuery">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="03" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited" fixed="CP-IS NHS Query" type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.470"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="TS">
                     <xs:attribute name="value" use="required" type="ts"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="REPC_MT000007GB01.Author" minOccurs="1" maxOccurs="1"/>
         <xs:element name="queryByParameter" type="REPC_MT000007GB01.QueryByParameter" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="CACT"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.CP-ISNHSQueryResponse">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="04" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited" fixed="CP-IS NHS Query Response" type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.470"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="TS">
                     <xs:attribute name="value" use="required" type="ts"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pertinentInformation11" type="REPC_MT000007GB01.PertinentInformation2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation12" type="REPC_MT000007GB01.PertinentInformation4"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation13" type="REPC_MT000007GB01.PertinentInformation5"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation14" type="REPC_MT000007GB01.PertinentInformation6"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="CACT"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.CP-ISRecord">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="01" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited" fixed="CP-IS Local Authority Upload"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.470"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="pertinentInformation15" type="REPC_MT000007GB01.PertinentInformation"
                     minOccurs="1"
                     maxOccurs="3"/>
         <xs:element name="subject" type="REPC_MT000007GB01.Subject" minOccurs="1" maxOccurs="2"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="ACTN"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.CP-ISRecordControlAct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="record" type="REPC_MT000007GB01.Record" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="CACT"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.Organisation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="II">
                     <xs:attribute name="root" use="required">
                        <xs:simpleType>
                           <xs:restriction base="uid">
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.19.1"/>
                              <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.19.2"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="extension" use="required">
                        <xs:simpleType>
                           <xs:restriction base="st"/>
                        </xs:simpleType>
                     </xs:attribute>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs_UpdateMode" use="prohibited"/>
                     <xs:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
                     <xs:attribute name="displayable" type="bl" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="name" type="ON.NHS.OrganizationNameType1" minOccurs="1" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL.NHS.value.mandatory" minOccurs="1" maxOccurs="2"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="ORG"/>
      <xs:attribute name="determinerCode" type="cs" use="prohibited" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.Person.NHSnumber">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="0"
                     fixed="Person.NHSnumber"/>
         <xs:element name="value" type="II.NHS.extension.mandatory" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:group ref="NPFIT-100018_Act"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PERT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pertinentTotalReturnedAccessRecords"
                     type="REPC_MT000007GB01.TotalReturnedAccessRecords"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PERT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.PertinentInformation4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pertinentTotalReturnedChildRecords"
                     type="REPC_MT000007GB01.TotalReturnedChildRecords"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PERT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.PertinentInformation5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pertinentCP-ISNHSQuery" type="REPC_MT000007GB01.CP-ISNHSQuery"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PERT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.PertinentInformation6">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pertinentCP-ISRecordControlAct"
                     type="REPC_MT000007GB01.CP-ISRecordControlAct"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PERT"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.QueryByParameter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="person.NHSnumber" type="REPC_MT000007GB01.Person.NHSnumber" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.Record">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="communicationFunctionSnd"
                     type="REPC_MT000007GB01.CommunicationFunctionSnd"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="CP-ISRecord" type="REPC_MT000007GB01.CP-ISRecord" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:group ref="NPFIT-100035_Role"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="prohibited" fixed="SBJ"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.TotalReturnedAccessRecords">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="TRAR" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited" fixed="Total Returned Access Records"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.469"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="INT">
                     <xs:attribute name="value" use="required" type="int"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="REPC_MT000007GB01.TotalReturnedChildRecords">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" minOccurs="0" maxOccurs="0">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="CV">
                     <xs:attribute name="code" use="prohibited" fixed="TRCR" type="cs"/>
                     <xs:attribute name="displayName" use="prohibited" fixed="Total Returned Child Records"
                                   type="st"/>
                     <xs:attribute name="codeSystem" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.469"
                                   type="uid"/>
                     <xs:attribute name="codeSystemName" type="st" use="prohibited"/>
                     <xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="value" minOccurs="1" maxOccurs="1">
            <xs:complexType>
               <xs:complexContent>
                  <xs:restriction base="INT">
                     <xs:attribute name="value" use="required" type="int"/>
                     <xs:attribute name="updateMode" type="cs" use="prohibited"/>
                     <xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
                  </xs:restriction>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="prohibited" fixed="OBS"/>
      <xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
   </xs:complexType>
</xs:schema>