CPIS/Schemas/REPC_MT000005GB01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:npfitlc="NPFIT:HL7:Localisation" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* 		XML schema for message type : REPC_MT000005GB01.
* 
*		Source information:
*		Generated by Publisher version : 
*    	Created on: 
*   
* 		Copyright (c) 2009,2010,2011,2012,2013 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:include schemaLocation="../dt/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../VocabularySchemas/CPVocab.xsd"/>
	<xs:include schemaLocation="../dt/datatypeflavours.xsd"/>
	<xs:import namespace="NPFIT:HL7:Localisation" schemaLocation="../dt/NHSLocalisation.xsd"/>
	<xs:include schemaLocation="../TemplateSchemas/NPFIT-100036_Role.xsd"/>
	<xs:element name="CP-ISInactiveNHSNumberNotification" type="REPC_MT000005GB01.CP-ISInactiveNHSNumberNotification"/>
	<xs:complexType name="REPC_MT000005GB01.CP-ISInactiveNHSNumberNotification">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="0" maxOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="prohibited" fixed="06"/>
							<xs:attribute name="displayName" type="st" use="prohibited" fixed="CP-IS Inactive NHS Number Notification"/>
							<xs:attribute name="codeSystem" type="uid" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.470"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="effectiveTime" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="TS">
							<xs:attribute name="value" type="ts" use="required"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="id" type="II.NPfIT.uuid.mandatory" minOccurs="1" maxOccurs="1"/>
			<xs:element name="primaryInformationRecipient" type="REPC_MT000005GB01.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1"/>
			<xs:element name="subject" type="REPC_MT000005GB01.Subject" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="prohibited" fixed="INFRM"/>
		<xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000005GB01.LAUploadFile">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" minOccurs="0" maxOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:restriction base="CV">
							<xs:attribute name="code" type="cs" use="prohibited" fixed="LAUFI"/>
							<xs:attribute name="displayName" type="st" use="prohibited" fixed="LA Upload File Id"/>
							<xs:attribute name="codeSystem" type="uid" use="prohibited" fixed="2.16.840.1.113883.2.1.3.2.4.17.469"/>
							<xs:attribute name="codeSystemName" type="st" use="prohibited"/>
							<xs:attribute name="codeSystemVersion" type="st" use="prohibited"/>
							<xs:attribute name="updateMode" type="cs" use="prohibited"/>
							<xs:attribute name="nullFlavor" type="cs_NullFlavor" use="prohibited"/>
						</xs:restriction>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="value" type="II.NHS.extension.mandatory" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="prohibited" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="prohibited" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000005GB01.NewNHSPatient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NHS.extension.mandatory" minOccurs="1" maxOccurs="99999"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="prohibited" fixed="PAT"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000005GB01.PDSInactivePatient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II.NPfIT.oid.mandatoryAndEnumerated.assignedAuthority.optional" minOccurs="1" maxOccurs="2"/>
			<xs:element name="replacedBy" type="REPC_MT000005GB01.ReplacementOf" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="subjectOf" type="REPC_MT000005GB01.Subject3" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="cs" use="prohibited" fixed="PAT"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000005GB01.PrimaryInformationRecipient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element ref="npfitlc:contentId" minOccurs="1" maxOccurs="1"/>
			<xs:choice>
				<xs:group ref="NPFIT-100036_Role"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="prohibited" fixed="PRCP"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000005GB01.ReplacementOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="newVersion" type="REPC_MT000005GB01.NewNHSPatient" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="prohibited" fixed="REPL"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000005GB01.Subject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="pDSInactivePatient" type="REPC_MT000005GB01.PDSInactivePatient" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="prohibited" fixed="SBJ"/>
	</xs:complexType>
	<xs:complexType name="REPC_MT000005GB01.Subject3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="lAUploadFile" type="REPC_MT000005GB01.LAUploadFile" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="cs" use="prohibited" fixed="SBJ"/>
	</xs:complexType>
</xs:schema>
