xsd/ITKEvents_RSP_K22-2010-05.xsd

<?xml version="1.0"?><!--    NHS Connecting for Health - Interoperability Toolkit Event Definitions     Response to: Find Candidates Query - RSP_K22--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:nhs-itk:ns:201005" targetNamespace="urn:nhs-itk:ns:201005">	<!-- include segment definitions for ITK Events -->	<xsd:include schemaLocation="ITKEventsSegments-2010-05.xsd"/>	<!--    EVENT RSP_K22-->	<!-- .. groups used in event RSP_K22 -->	<xsd:complexType name="RSP_K22.QUERY_RESPONSE.CONTENT">		<xsd:sequence>			<xsd:element ref="PID"/>			<xsd:element ref="PD1" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="RSP_K22.QUERY_RESPONSE" type="RSP_K22.QUERY_RESPONSE.CONTENT"/>	<!-- .. event definition RSP_K22 -->	<xsd:complexType name="RSP_K22.CONTENT">		<xsd:sequence>			<xsd:element ref="MSH"/>			<xsd:element ref="MSA"/>			<xsd:element ref="ERR" minOccurs="0"/>			<xsd:element ref="QAK"/>			<xsd:element ref="QPD"/>			<xsd:element ref="RSP_K22.QUERY_RESPONSE" minOccurs="0" maxOccurs="unbounded"/>			<xsd:element ref="DSC" minOccurs="0"/>		</xsd:sequence>	</xsd:complexType>	<xsd:element name="RSP_K22" type="RSP_K22.CONTENT"/></xsd:schema>