omvt/TightenedSchemas/POCD_MT000001UK02_6202.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:npfitct="template:NPFIT:content" xmlns:npfitmt="message:NPFIT:type" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* 		XML schema for message type : POCD_MT000001UK02.
* 
*		Source information:
*		Generated by Schema builder version : 
*    	Created on: 
*   
* 		Copyright (c) 2002, 2003, 2004, 2005, 2006 Health Level Seven. All rights reserved.
*  	Redistribution and use in source and binary forms, with or without
*  	modification, are permitted provided that the following conditions
*  	are met:
*  		1. Redistributions of source code must retain the above copyright
*     		notice, this list of conditions and the following disclaimer.
*  		2. Redistributions in binary form must reproduce the above copyright
*     		notice, this list of conditions and the following disclaimer in the
*     		documentation and/or other materials provided with the distribution.
*  		3. All advertising materials mentioning features or use of this software
*     		must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  	THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  	ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  	OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  	HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  	LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  	OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  	SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:include schemaLocation="../dt/infrastructureRoot_6202.xsd"/>
	<xs:include schemaLocation="../dt/NarrativeBlock_6202.xsd"/>
	<xs:import namespace="template:NPFIT:content" schemaLocation="../dt/templateContent_6202.xsd"/>
	<xs:import namespace="message:NPFIT:type" schemaLocation="../dt/messageType_6202.xsd"/>
	<xs:element name="ClinicalDocument" type="POCD_MT000001UK02.ClinicalDocument"/>
	<xs:complexType name="POCD_MT000001UK02.InfrastructureRoot.typeId">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="root" type="uid" use="required" fixed="2.16.840.1.113883.1.3"/>
				<xs:attribute name="extension" type="st" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Act">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK02.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="POCD_MT000001UK02.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK02.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK02.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK02.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK02.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK02.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK02.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="x_ActClassDocumentEntryAct" use="required"/>
		<xs:attribute name="moodCode" type="x_DocumentActMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.AssignedAuthor">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="assignedPerson" type="POCD_MT000001UK02.Person" minOccurs="0"/>
				<xs:element name="assignedAuthoringDevice" type="POCD_MT000001UK02.AuthoringDevice" minOccurs="0"/>
			</xs:choice>
			<xs:element name="representedOrganization" type="POCD_MT000001UK02.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.AssignedCustodian">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="representedCustodianOrganization" type="POCD_MT000001UK02.CustodianOrganization"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.AssignedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="assignedPerson" type="POCD_MT000001UK02.Person" minOccurs="0"/>
			<xs:element name="representedOrganization" type="POCD_MT000001UK02.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ASSIGNED"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.AssociatedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="associatedPerson" type="POCD_MT000001UK02.Person" minOccurs="0"/>
			<xs:element name="scopingOrganization" type="POCD_MT000001UK02.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssociative" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Authenticator">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="time" type="TS"/>
			<xs:element name="signatureCode" type="CS"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK02.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="AUTHEN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Author">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="functionCode" type="CE" minOccurs="0"/>
			<xs:element name="time" type="TS"/>
			<xs:element name="assignedAuthor" type="POCD_MT000001UK02.AssignedAuthor"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.AuthoringDevice">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="manufacturerModelName" type="SC" minOccurs="0"/>
			<xs:element name="softwareName" type="SC" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DEV"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.ClinicalDocument">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitmt:messageType"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CE"/>
			<xs:element name="title" type="ST" minOccurs="0"/>
			<xs:element name="effectiveTime" type="TS"/>
			<xs:element name="confidentialityCode" type="CE"/>
			<xs:element name="setId" type="II" minOccurs="0"/>
			<xs:element name="versionNumber" type="INT" minOccurs="0"/>
			<xs:element name="recordTarget" type="POCD_MT000001UK02.RecordTarget" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK02.Author" maxOccurs="unbounded"/>
			<xs:element name="dataEnterer" type="POCD_MT000001UK02.DataEnterer" minOccurs="0"/>
			<xs:element name="informant" type="POCD_MT000001UK02.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="custodian" type="POCD_MT000001UK02.Custodian"/>
			<xs:element name="informationRecipient" type="POCD_MT000001UK02.InformationRecipient" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="legalAuthenticator" type="POCD_MT000001UK02.LegalAuthenticator" minOccurs="0"/>
			<xs:element name="authenticator" type="POCD_MT000001UK02.Authenticator" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK02.Participant1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="relatedDocument" type="POCD_MT000001UK02.RelatedDocument" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="POCD_MT000001UK02.Component2"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Component2">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:choice>
				<xs:element name="structuredBody" type="POCD_MT000001UK02.StructuredBody"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Component3">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="section" type="POCD_MT000001UK02.Section"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Component4">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="act" type="POCD_MT000001UK02.Act"/>
				<xs:element name="encounter" type="POCD_MT000001UK02.Encounter"/>
				<xs:element name="observation" type="POCD_MT000001UK02.Observation"/>
				<xs:element name="organizer" type="POCD_MT000001UK02.Organizer"/>
				<xs:element name="procedure" type="POCD_MT000001UK02.Procedure"/>
				<xs:element name="substanceAdministration" type="POCD_MT000001UK02.SubstanceAdministration"/>
				<xs:element name="supply" type="POCD_MT000001UK02.Supply"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Component5">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="section" type="POCD_MT000001UK02.Section"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Consumable">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="manufacturedProduct" type="POCD_MT000001UK02.ManufacturedProduct"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="CSM"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Criterion">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="value" type="ANY" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN.CRT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Custodian">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="assignedCustodian" type="POCD_MT000001UK02.AssignedCustodian"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="CST"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.CustodianOrganization">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="name" type="ON" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ORG"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.DataEnterer">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="time" type="TS" minOccurs="0"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK02.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="ENT"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Device">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="manufacturerModelName" type="SC" minOccurs="0"/>
			<xs:element name="softwareName" type="SC" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DEV"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Encounter">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK02.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="POCD_MT000001UK02.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK02.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK02.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK02.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK02.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK02.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK02.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ENC"/>
		<xs:attribute name="moodCode" type="x_DocumentEncounterMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Entity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="desc" type="ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ENT"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Entry">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:choice>
				<xs:element name="act" type="POCD_MT000001UK02.Act"/>
				<xs:element name="encounter" type="POCD_MT000001UK02.Encounter"/>
				<xs:element name="observation" type="POCD_MT000001UK02.Observation"/>
				<xs:element name="organizer" type="POCD_MT000001UK02.Organizer"/>
				<xs:element name="procedure" type="POCD_MT000001UK02.Procedure"/>
				<xs:element name="substanceAdministration" type="POCD_MT000001UK02.SubstanceAdministration"/>
				<xs:element name="supply" type="POCD_MT000001UK02.Supply"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipEntry" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required" fixed="true"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.EntryRelationship">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="act" type="POCD_MT000001UK02.Act"/>
				<xs:element name="encounter" type="POCD_MT000001UK02.Encounter"/>
				<xs:element name="observation" type="POCD_MT000001UK02.Observation"/>
				<xs:element name="organizer" type="POCD_MT000001UK02.Organizer"/>
				<xs:element name="procedure" type="POCD_MT000001UK02.Procedure"/>
				<xs:element name="substanceAdministration" type="POCD_MT000001UK02.SubstanceAdministration"/>
				<xs:element name="supply" type="POCD_MT000001UK02.Supply"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipEntryRelationship" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="optional"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"  />
		<xs:attribute name="negationInd" type="bl" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.ExternalAct">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Informant12">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:choice>
				<xs:element name="assignedEntity" type="POCD_MT000001UK02.AssignedEntity"/>
				<xs:element name="relatedEntity" type="POCD_MT000001UK02.RelatedEntity"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="INF"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.InformationRecipient">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="intendedRecipient" type="POCD_MT000001UK02.IntendedRecipient"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_InformationRecipient" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.IntendedRecipient">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informationRecipient" type="POCD_MT000001UK02.Person" minOccurs="0"/>
			<xs:element name="receivedOrganization" type="POCD_MT000001UK02.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="x_InformationRecipientRole" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.LabeledDrug">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="name" type="EN" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="MMAT"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="KIND"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.LegalAuthenticator">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="time" type="TS"/>
			<xs:element name="signatureCode" type="CS"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK02.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="LA"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.ManufacturedProduct">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="manufacturedLabeledDrug" type="POCD_MT000001UK02.LabeledDrug"/>
				<xs:element name="manufacturedMaterial" type="POCD_MT000001UK02.Material"/>
			</xs:choice>
			<xs:element name="manufacturerOrganization" type="POCD_MT000001UK02.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="MANU"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Material">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="name" type="EN" minOccurs="0"/>
			<xs:element name="lotNumberText" type="ST" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="MMAT"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="KIND"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Observation">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="value" type="ANY" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specimen" type="POCD_MT000001UK02.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="POCD_MT000001UK02.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK02.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK02.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK02.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK02.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK02.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK02.Precondition" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="referenceRange" type="POCD_MT000001UK02.ReferenceRange" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
		<xs:attribute name="moodCode" type="x_ActMoodDocumentObservation" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.ObservationRange">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="value" type="ANY" minOccurs="0"/>
			<xs:element name="interpretationCode" type="CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="OBS"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN.CRT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Organization">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="standardIndustryClassCode" type="CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="ORG"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Organizer">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK02.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="POCD_MT000001UK02.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK02.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK02.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK02.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK02.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK02.Precondition" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="POCD_MT000001UK02.Component4" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="x_ActClassDocumentEntryOrganizer" use="required"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.ParentDocument">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="setId" type="II" minOccurs="0"/>
			<xs:element name="versionNumber" type="INT" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCCLIN"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Participant1">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="functionCode" type="CE" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="associatedEntity" type="POCD_MT000001UK02.AssociatedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Participant2">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="awarenessCode" type="CE" minOccurs="0"/>
			<xs:element name="participantRole" type="POCD_MT000001UK02.ParticipantRole"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.ParticipantRole">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="playingDevice" type="POCD_MT000001UK02.Device" minOccurs="0"/>
				<xs:element name="playingEntity" type="POCD_MT000001UK02.PlayingEntity" minOccurs="0"/>
			</xs:choice>
			<xs:element name="scopingEntity" type="POCD_MT000001UK02.Entity" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Patient">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="administrativeGenderCode" type="CE" minOccurs="0"/>
			<xs:element name="birthTime" type="TS" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.PatientRole">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="patient" type="POCD_MT000001UK02.Patient" minOccurs="0"/>
			<xs:element name="providerOrganization" type="POCD_MT000001UK02.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PAT"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Performer2">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="assignedEntity" type="POCD_MT000001UK02.AssignedEntity"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="PRF"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Person">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.PlayingEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="ED" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required"/>
		<xs:attribute name="determinerCode" type="cs" use="required" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Precondition">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="criterion" type="POCD_MT000001UK02.Criterion"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="PRCN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Procedure">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK02.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="POCD_MT000001UK02.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK02.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK02.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK02.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK02.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK02.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK02.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="PROC"/>
		<xs:attribute name="moodCode" type="x_DocumentProcedureMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Product">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="manufacturedProduct" type="POCD_MT000001UK02.ManufacturedProduct"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="PRD"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.RecordTarget">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="patientRole" type="POCD_MT000001UK02.PatientRole"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="cs" use="required" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Reference">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="seperatableInd" type="BL" minOccurs="0"/>
			<xs:choice>
				<xs:element name="externalAct" type="POCD_MT000001UK02.ExternalAct"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipExternalReference" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.ReferenceRange">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="observationRange" type="POCD_MT000001UK02.ObservationRange"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="REFV"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.RelatedDocument">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="parentDocument" type="POCD_MT000001UK02.ParentDocument"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="x_ActRelationshipDocument" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.RelatedEntity">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="relatedPerson" type="POCD_MT000001UK02.Person" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassMutualRelationship" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Section">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="title" type="ST" minOccurs="0"/>
			<xs:element name="text" type="StrucDoc.Text" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0"/>
			<xs:element name="author" type="POCD_MT000001UK02.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK02.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entry" type="POCD_MT000001UK02.Entry" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component" type="POCD_MT000001UK02.Component5" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCSECT"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Specimen">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="npfitct:contentId" minOccurs="0"/>
			<xs:element name="specimenRole" type="POCD_MT000001UK02.SpecimenRole"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="cs" use="required" fixed="SPC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.SpecimenRole">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="specimenPlayingEntity" type="POCD_MT000001UK02.PlayingEntity" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="SPEC"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.StructuredBody">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0"/>
			<xs:element name="component" type="POCD_MT000001UK02.Component3" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="DOCBODY"/>
		<xs:attribute name="moodCode" type="cs" use="required" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.SubstanceAdministration">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK02.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="consumable" type="POCD_MT000001UK02.Consumable"/>
			<xs:element name="performer" type="POCD_MT000001UK02.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK02.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK02.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK02.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK02.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK02.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK02.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="SBADM"/>
		<xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required"/>
	</xs:complexType>
	<xs:complexType name="POCD_MT000001UK02.Supply">
		<xs:sequence>
			<xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="POCD_MT000001UK02.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="quantity" type="PQ" minOccurs="0"/>
			<xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="specimen" type="POCD_MT000001UK02.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="product" type="POCD_MT000001UK02.Product" minOccurs="0"/>
			<xs:element name="performer" type="POCD_MT000001UK02.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="POCD_MT000001UK02.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="POCD_MT000001UK02.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="POCD_MT000001UK02.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="POCD_MT000001UK02.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="POCD_MT000001UK02.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="POCD_MT000001UK02.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="cs" use="required" fixed="SPLY"/>
		<xs:attribute name="moodCode" type="x_DocumentSubstanceMood" use="required"/>
	</xs:complexType>
</xs:schema>
