omvt/TightenedSchemas/POII_MT040101UK02_3111.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
<xs:include schemaLocation="../VocabSchema/NHSVocab_3111.xsd"/>
   
   <xs:include schemaLocation="../dt/datatypes_3111.xsd"/>
   
   <xs:include schemaLocation="../voc/voc_3111.xsd"/>
   
   <xs:annotation>
      
      <xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   
   </xs:annotation>
<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   
   <xs:include schemaLocation="UKCT_MT120701UK02_3111.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120301UK02_3111.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120501UK03_3111.xsd"/>
   
   <xs:element name="DIReport" type="POII_MT040101UK02.DIReport"/>
   <!-- XSDStrictMaker : ComplexType ignored due to being top level element -->
   <xs:complexType name="POII_MT040101UK02.DIReport">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="POII_MT040101UK02.RecordTarget" minOccurs="1" maxOccurs="1" name="recordTarget"/>
         
         <xs:element type="POII_MT040101UK02.Author1" minOccurs="1" maxOccurs="1" name="author"/>
         
         <xs:element type="POII_MT040101UK02.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1" name="primaryInformationRecipient"/>
         
         <xs:element type="POII_MT040101UK02.Tracker" minOccurs="0" maxOccurs="unbounded" name="tracker"/>
         
         <xs:element type="POII_MT040101UK02.PertinentInformation1" minOccurs="1" maxOccurs="1" name="pertinentInformation1"/>
         
         <xs:element type="POII_MT040101UK02.PertinentInformation3" minOccurs="1" maxOccurs="unbounded" name="pertinentInformation2"/>
         
         <xs:element type="POII_MT040101UK02.InFulfillmentOf1" minOccurs="1" maxOccurs="1" name="inFulfillmentOf"/>
         
         <xs:element type="POII_MT040101UK02.ReplacementOf" minOccurs="0" maxOccurs="1" name="replacementOf"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.RecordTarget">
      
      <xs:sequence>
         
         <xs:element type="POII_MT040101UK02.Patient" minOccurs="1" maxOccurs="1" name="patient"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : New stricter complex type derived from II -->
   <xs:complexType name="IIPatient__POII_MT040101UK02">
      <xs:complexContent>
         <xs:restriction base="II">
            <xs:attribute name="root" type="uid" fixed="2.16.840.1.113883.2.1.4.1"/>
            <xs:attribute name="extension" type="st" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from II -->
   <xs:complexType name="POII_MT040101UK02.Patient">
      
      <xs:sequence>
         <!-- Patient OID tightened [II] -->
         <xs:element name="id" type="IIPatient__POII_MT040101UK02" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Patient"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Author1">
      
      <xs:sequence>
         
         <xs:choice>
            
            <xs:element name="AgentDeviceSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120701UK02.AgentDeviceSDS"/>
            
            <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120301UK02.AgentPersonSDS"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.PrimaryInformationRecipient">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Tracker">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.PertinentInformation1">
      
      <xs:sequence>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="POII_MT040101UK02.ReportGrouper" minOccurs="1" maxOccurs="1" name="pertinentReportGrouper"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="POII_MT040101UK02.ReportGrouper">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="priorityCode" type="CV_PriorityType" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="POII_MT040101UK02.Author2" minOccurs="0" maxOccurs="1" name="author"/>
         
         <xs:element type="POII_MT040101UK02.Verifier1" minOccurs="0" maxOccurs="1" name="verifier"/>
         
         <xs:element type="POII_MT040101UK02.PrimaryPerformer" minOccurs="1" maxOccurs="1" name="primaryPerformer"/>
         
         <xs:element type="POII_MT040101UK02.Component1" minOccurs="0" maxOccurs="1" name="component1"/>
         
         <xs:element type="POII_MT040101UK02.Component3" minOccurs="1" maxOccurs="unbounded" name="component2"/>
         
         <xs:element type="POII_MT040101UK02.Component5" minOccurs="1" maxOccurs="unbounded" name="component3"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Author2">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Verifier1">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.PrimaryPerformer">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120501UK03"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Component1">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.component"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="POII_MT040101UK02.SummaryReportSegment" minOccurs="1" maxOccurs="1" name="summaryReportSegment"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="POII_MT040101UK02.SummaryReportSegment">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="value" type="ED" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="POII_MT040101UK02.Author3" minOccurs="0" maxOccurs="1" name="author"/>
         
         <xs:element type="POII_MT040101UK02.Verifier2" minOccurs="0" maxOccurs="1" name="verifier"/>
         
         <xs:element type="POII_MT040101UK02.Component2" minOccurs="0" maxOccurs="unbounded" name="component"/>
         
         <xs:element type="POII_MT040101UK02.Reference1" minOccurs="1" maxOccurs="unbounded" name="reference"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Author3">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Verifier2">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Component2">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="POII_MT040101UK02.CodedDiagnosis" minOccurs="1" maxOccurs="1" name="codedDiagnosis"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="POII_MT040101UK02.CodedDiagnosis">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Reference1">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="POII_MT040101UK02.ActRef" minOccurs="1" maxOccurs="1" name="referredToActRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="POII_MT040101UK02.ActRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Component3">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.component"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="POII_MT040101UK02.ProcedureReportSegment" minOccurs="1" maxOccurs="1" name="procedureReportSegment"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="POII_MT040101UK02.ProcedureReportSegment">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="value" type="ED" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="POII_MT040101UK02.Author4" minOccurs="0" maxOccurs="1" name="author"/>
         
         <xs:element type="POII_MT040101UK02.Verifier3" minOccurs="0" maxOccurs="1" name="verifier"/>
         
         <xs:element type="POII_MT040101UK02.Component4" minOccurs="0" maxOccurs="unbounded" name="component"/>
         
         <xs:element type="POII_MT040101UK02.Reference2" minOccurs="1" maxOccurs="unbounded" name="reference"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Author4">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Verifier3">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Component4">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="POII_MT040101UK02.CodedDiagnosis" minOccurs="1" maxOccurs="1" name="codedDiagnosis"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Reference2">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="POII_MT040101UK02.ActRef" minOccurs="1" maxOccurs="1" name="referredToActRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Component5">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.component"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="POII_MT040101UK02.DIProcedure" minOccurs="1" maxOccurs="1" name="dIProcedure"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="POII_MT040101UK02.DIProcedure">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="POII_MT040101UK02.Performer" minOccurs="0" maxOccurs="1" name="performer"/>
         
         <xs:element type="POII_MT040101UK02.PertinentInformation2" minOccurs="0" maxOccurs="unbounded" name="pertinentInformation"/>
         
         <xs:element type="POII_MT040101UK02.Subject" minOccurs="0" maxOccurs="unbounded" name="subject"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Performer">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120501UK03"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.PertinentInformation2">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="POII_MT040101UK02.KeyImages" minOccurs="1" maxOccurs="1" name="pertinentKeyImages"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.KeyImages">
      
      <xs:sequence>
         
         <xs:element name="value" type="ED" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="DiagnosticImage"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Subject">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="POII_MT040101UK02.NumericResult" minOccurs="1" maxOccurs="1" name="numericResult"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="POII_MT040101UK02.NumericResult">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="value" type="IVL_PQ" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="interpretationCode" type="CS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="POII_MT040101UK02.ReferenceRange" minOccurs="0" maxOccurs="1" name="referenceRange"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.ReferenceRange">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="POII_MT040101UK02.InterpretationRange" minOccurs="1" maxOccurs="1" name="referenceInterpretationRange"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.InterpretationRange">
      
      <xs:sequence>
         
         <xs:element name="value" type="IVL_PQ" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.PertinentInformation3">
      
      <xs:sequence>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="POII_MT040101UK02.CRECategory" minOccurs="1" maxOccurs="1" name="pertinentCRECategory"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="POII_MT040101UK02.CRECategory">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="POII_MT040101UK02.Component6" minOccurs="1" maxOccurs="unbounded" name="component"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Component6">
      
      <xs:sequence>
         
         <xs:element type="POII_MT040101UK02.ActRef" minOccurs="1" maxOccurs="1" name="actRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.InFulfillmentOf1">
      
      <xs:sequence>
         
         <xs:element type="POII_MT040101UK02.FulfillerRequest" minOccurs="1" maxOccurs="1" name="priorFulfillerRequest"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="POII_MT040101UK02.FulfillerRequest">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="POII_MT040101UK02.InFulfillmentOf2" minOccurs="0" maxOccurs="1" name="inFulfillmentOf"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.InFulfillmentOf2">
      
      <xs:sequence>
         
         <xs:element type="POII_MT040101UK02.PlacerRequest" minOccurs="1" maxOccurs="1" name="priorPlacerRequest"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="POII_MT040101UK02.PlacerRequest">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
         
         <xs:element type="POII_MT040101UK02.Author5" minOccurs="1" maxOccurs="1" name="author"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.Author5">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="POII_MT040101UK02.ReplacementOf">
      
      <xs:sequence>
         
         <xs:element type="POII_MT040101UK02.MessageRef" minOccurs="1" maxOccurs="1" name="priorMessageRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="POII_MT040101UK02.MessageRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>

</xs:schema>
