omvt/TightenedSchemas/PORX_MT142201UK31_4200.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
   <xs:include schemaLocation="../dt/datatypes_4200.xsd"/>
   <xs:include schemaLocation="../voc/voc_4200.xsd"/>
   <xs:include schemaLocation="../dt/NHSVocab_4200.xsd"/>
   <xs:include schemaLocation="../dt/datatypeflavours_4200.xsd"/>
   <xs:annotation>
      <xs:documentation>
		Generated using schema builder version 1.21p12_5.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   </xs:annotation><!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12_5, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   <xs:include schemaLocation="UKCT_MT120401UK02_4200.xsd"/>
   <xs:element name="ReimbursementClaimReject" type="PORX_MT142201UK31.ReimbursementClaimReject"/>
   <xs:complexType name="PORX_MT142201UK31.ReimbursementClaimReject">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element type="PORX_MT142201UK31.Author" minOccurs="1" maxOccurs="1" name="author"/>
         <xs:element type="PORX_MT142201UK31.Origin" minOccurs="1" maxOccurs="1" name="origin"/>
         <xs:element type="PORX_MT142201UK31.PertinentInformation" minOccurs="1" maxOccurs="unbounded" name="pertinentInformation"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.Author">
      <xs:sequence>
         <xs:element name="AgentOrg" type="UKCT_MT120401UK02.AgentOrg" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.Origin">
      <xs:sequence>
         <xs:element name="AgentOrg" type="UKCT_MT120401UK02.AgentOrg" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.PertinentInformation">
      <xs:sequence>
         <xs:element type="PORX_MT142201UK31.ClaimInfo" minOccurs="1" maxOccurs="1" name="pertinentClaimInfo"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.ClaimInfo">
      <xs:sequence>
         <xs:element type="PORX_MT142201UK31.PertinentInformation22" minOccurs="1" maxOccurs="unbounded" name="pertinentInformation2"/>
         <xs:element type="PORX_MT142201UK31.PertinentInformation23" minOccurs="1" maxOccurs="1" name="pertinentInformation3"/>
         <xs:element type="PORX_MT142201UK31.PertinentInformation24" minOccurs="1" maxOccurs="1" name="pertinentInformation1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.PertinentInformation22">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="PORX_MT142201UK31.MedicationItemInfo" minOccurs="1" maxOccurs="1" name="pertinentMedicationItemInfo"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.MedicationItemInfo">
      <xs:sequence>
         <xs:element type="PORX_MT142201UK31.PertinentInformation31" minOccurs="0" maxOccurs="unbounded" name="pertinentInformation1"/>
         <xs:element type="PORX_MT142201UK31.PertinentInformation4" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.PertinentInformation31">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="PORX_MT142201UK31.ReimbursementRejectionReason" minOccurs="1" maxOccurs="1" name="pertinentReimbursementRejectionReason"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.ReimbursementRejectionReason">
      <xs:sequence>
         <xs:element name="code" type="CV_PrescriptionAnnotation" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.PertinentInformation4">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="PORX_MT142201UK31.SuppliedLineItemRef" minOccurs="1" maxOccurs="1" name="pertinentSuppliedLineItemRef"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.SuppliedLineItemRef">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.PertinentInformation23">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="PORX_MT142201UK31.ReimbursmentClaimRef" minOccurs="1" maxOccurs="1" name="pertinentReimbursmentClaimRef"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.ReimbursmentClaimRef">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ControlAct"/>
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.PertinentInformation24">
      <xs:sequence>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element type="PORX_MT142201UK31.PrescriptionID" minOccurs="1" maxOccurs="1" name="pertinentPrescriptionID"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PORX_MT142201UK31.PrescriptionID">
      <xs:sequence>
         <xs:element name="code" type="CV_PrescriptionAnnotation" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
</xs:schema>