omvt/TightenedSchemas/PORX_MT122003UK32_4200.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../dt/datatypes_4200.xsd"/>
	<xs:include schemaLocation="../voc/voc_4200.xsd"/>
	<xs:include schemaLocation="../dt/NHSVocab_4200.xsd"/>
	<xs:include schemaLocation="../dt/datatypeflavours_4200.xsd"/>
	<xs:annotation>
		<xs:documentation>
		Generated using schema builder version 1.21p12_5.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
	</xs:annotation>
	<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12_5, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
	<xs:include schemaLocation="COCT_MT050012UK05_4200.xsd"/>
	<xs:include schemaLocation="UKCT_MT120501UK02_4200.xsd"/>
	<xs:include schemaLocation="UKCT_MT120201UK04_4200.xsd"/>
	<xs:element name="ParentPrescription" type="PORX_MT122003UK32.ParentPrescription"/>
	<xs:complexType name="PORX_MT122003UK32.ParentPrescription">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="effectiveTime" type="TS"/>
			<xs:element name="typeId" type="II"/>
			<xs:element name="recordTarget" type="PORX_MT122003UK32.RecordTarget"/>
			<xs:element name="pertinentInformation1" type="PORX_MT122003UK32.PertinentInformation1"/>
			<xs:element name="pertinentInformation2" type="PORX_MT122003UK32.PertinentInformation13"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.RecordTarget">
		<xs:sequence>
			<xs:element name="Patient" type="COCT_MT050012UK05.Patient"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation1">
		<xs:sequence>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pertinentPrescription" type="PORX_MT122003UK32.Prescription"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.Prescription">
		<xs:sequence>
			<xs:element name="id" type="II" minOccurs="2" maxOccurs="2"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="effectiveTime" type="SXCM_TS"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="performer" type="PORX_MT122003UK32.Performer" minOccurs="0"/>
			<xs:element name="author" type="PORX_MT122003UK32.Author"/>
			<xs:element name="legalAuthenticator" type="PORX_MT122003UK32.LegalAuthenticator" minOccurs="0"/>
			<xs:element name="responsibleParty" type="PORX_MT122003UK32.ResponsibleParty"/>
			<xs:element name="component1" type="PORX_MT122003UK32.Component1" minOccurs="0"/>
			<xs:element name="pertinentInformation7" type="PORX_MT122003UK32.PertinentInformation" minOccurs="0"/>
			<xs:element name="pertinentInformation5" type="PORX_MT122003UK32.PertinentInformation10"/>
			<xs:element name="pertinentInformation6" type="PORX_MT122003UK32.PertinentInformation11" minOccurs="0"/>
			<xs:element name="pertinentInformation10" type="PORX_MT122003UK32.PertinentInformation14" minOccurs="0"/>
			<xs:element name="pertinentInformation9" type="PORX_MT122003UK32.PertinentInformation15" minOccurs="0"/>
			<xs:element name="pertinentInformation1" type="PORX_MT122003UK32.PertinentInformation2"/>
			<xs:element name="pertinentInformation2" type="PORX_MT122003UK32.PertinentInformation3" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation11" type="PORX_MT122003UK32.PertinentInformation31" minOccurs="0"/>
			<xs:element name="pertinentInformation8" type="PORX_MT122003UK32.PertinentInformation5"/>
			<xs:element name="pertinentInformation3" type="PORX_MT122003UK32.PertinentInformation8" minOccurs="0"/>
			<xs:element name="pertinentInformation4" type="PORX_MT122003UK32.PertinentInformation9"/>
			<xs:element name="inFulfillmentOf" type="PORX_MT122003UK32.InFulfillmentOf2" minOccurs="0"/>
			<xs:element name="predecessor" type="PORX_MT122003UK32.Predecessor" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.Performer">
		<xs:sequence>
			<xs:element name="AgentOrgSDS" type="UKCT_MT120501UK02.AgentOrgSDS"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.Author">
		<xs:sequence>
			<xs:element name="time" type="TS"/>
			<xs:element name="signatureText" type="ED"/>
			<xs:element name="AgentPerson" type="UKCT_MT120201UK04.AgentPerson"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.LegalAuthenticator">
		<xs:sequence>
			<xs:element name="time" type="TS"/>
			<xs:element name="signatureText" type="ED"/>
			<xs:element name="AgentPerson" type="UKCT_MT120201UK04.AgentPerson"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.ResponsibleParty">
		<xs:sequence>
			<xs:element name="AgentPerson" type="UKCT_MT120201UK04.AgentPerson"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.Component1">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="daysSupply" type="PORX_MT122003UK32.DaysSupply"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.DaysSupply">
		<xs:sequence>
			<xs:element name="code" type="CD"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Supply"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentReviewDate" type="PORX_MT122003UK32.ReviewDate"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.ReviewDate">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="TS"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation10">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentPrescriptionTreatmentType" type="PORX_MT122003UK32.PrescriptionTreatmentType"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PrescriptionTreatmentType">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="CV_PrescriptionTreatmentType"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation11">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pertinentCareEventRef" type="PORX_MT122003UK32.CareEventRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.CareEventRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Act"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation14">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentPrescriptionStatus" type="PORX_MT122003UK32.PrescriptionStatus"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PrescriptionStatus">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="text" type="ST" minOccurs="0"/>
			<xs:element name="value" type="CV_PrescriptionStatus"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation15">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentLowPermanentExemptionInfo" type="PORX_MT122003UK32.LowPermanentExemptionInfo"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.LowPermanentExemptionInfo">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionChargeExemption"/>
			<xs:element name="value" type="TS"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation2">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentDispensingSitePreference" type="PORX_MT122003UK32.DispensingSitePreference"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.DispensingSitePreference">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="CV"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation3">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pertinentLineItem" type="PORX_MT122003UK32.LineItem"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.LineItem">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="effectiveTime" type="SXCM_TS"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="product" type="PORX_MT122003UK32.Product"/>
			<xs:element name="component" type="PORX_MT122003UK32.Component2"/>
			<xs:element name="pertinentInformation4" type="PORX_MT122003UK32.PertinentInformation30"/>
			<xs:element name="pertinentInformation1" type="PORX_MT122003UK32.PertinentInformation4" minOccurs="0"/>
			<xs:element name="pertinentInformation3" type="PORX_MT122003UK32.PertinentInformation6" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation2" type="PORX_MT122003UK32.PertinentInformation7"/>
			<xs:element name="inFulfillmentOf2" type="PORX_MT122003UK32.InFulfillmentOf" minOccurs="0"/>
			<xs:element name="inFulfillmentOf1" type="PORX_MT122003UK32.InFulfillmentOf1" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.Product">
		<xs:sequence>
			<xs:element name="manufacturedProduct" type="PORX_MT122003UK32.ManufacturedProduct"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.ManufacturedProduct">
		<xs:sequence>
			<xs:element name="manufacturedRequestedMaterial" type="PORX_MT122003UK32.RequestedMaterial"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="RoleHeir"/>
		<xs:attribute name="classCode" type="RoleClass" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.RequestedMaterial">
		<xs:sequence>
			<xs:element name="code" type="CE"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
		<xs:attribute name="classCode" type="EntityClass" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.Component2">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="lineItemQuantity" type="PORX_MT122003UK32.LineItemQuantity"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.LineItemQuantity">
		<xs:sequence>
			<xs:element name="code" type="CD"/>
			<xs:element name="quantity" type="PQ"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Supply"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation30">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentItemStatus" type="PORX_MT122003UK32.ItemStatus"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.ItemStatus">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="text" type="ST" minOccurs="0"/>
			<xs:element name="value" type="CV_ItemStatus"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation4">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentAdditionalInstructions" type="PORX_MT122003UK32.AdditionalInstructions"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.AdditionalInstructions">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="ST"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation6">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentPrescriberEndorsement" type="PORX_MT122003UK32.PrescriberEndorsement"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PrescriberEndorsement">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="text" type="ST" minOccurs="0"/>
			<xs:element name="value" type="CV_PrescriberEndorsement"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation7">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentDosageInstructions" type="PORX_MT122003UK32.DosageInstructions"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.DosageInstructions">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="ST"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.InFulfillmentOf">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="priorOriginalItemRef" type="PORX_MT122003UK32.OriginalItemRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.OriginalItemRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.InFulfillmentOf1">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="priorIntendedMedicationAdministrationRef" type="PORX_MT122003UK32.IntendedMedicationAdministrationRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.IntendedMedicationAdministrationRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation31">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentHighPermanentExemptionInfo" type="PORX_MT122003UK32.HighPermanentExemptionInfo"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.HighPermanentExemptionInfo">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionChargeExemption"/>
			<xs:element name="value" type="TS"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation5">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentTokenIssued" type="PORX_MT122003UK32.TokenIssued"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.TokenIssued">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="BL"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation8">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentTemporaryExemptionInfo" type="PORX_MT122003UK32.TemporaryExemptionInfo"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.TemporaryExemptionInfo">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="effectiveTime" type="IVL_TS"/>
			<xs:element name="value" type="CV_PrescriptionChargeExemption"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation9">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentPrescriptionType" type="PORX_MT122003UK32.PrescriptionType"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PrescriptionType">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="CV"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.InFulfillmentOf2">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="priorOriginalPrescriptionRef" type="PORX_MT122003UK32.OriginalPrescriptionRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.OriginalPrescriptionRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.Predecessor">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="priorPreviousIssueDate" type="PORX_MT122003UK32.PreviousIssueDate"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PreviousIssueDate">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="TS"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.PertinentInformation13">
		<xs:sequence>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.17.120"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pertinentCareRecordElementCategory" type="PORX_MT122003UK32.CareRecordElementCategory"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.CareRecordElementCategory">
		<xs:sequence>
			<xs:element name="code" type="CV"/>
			<xs:element name="component" type="PORX_MT122003UK32.Component" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActHeir"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.Component">
		<xs:sequence>
			<xs:element name="actRef" type="PORX_MT122003UK32.ActRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT122003UK32.ActRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Act"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
</xs:schema>
