omvt/TightenedSchemas/PORX_MT024001UK05_3111.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by NHS Connecting for Health (NHS Connecting for Health) -->
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../VocabSchema/NHSVocab_3111.xsd"/>
	<xs:include schemaLocation="../dt/datatypes_3111.xsd"/>
	<xs:include schemaLocation="../voc/voc_3111.xsd"/>
	<xs:annotation>
		<xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
	</xs:annotation>
	<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
	<xs:include schemaLocation="UKCT_MT120401UK02_3111.xsd"/>
	<xs:include schemaLocation="UKCT_MT120201UK03_3111.xsd"/>
	<xs:element name="DispenseNotification" type="PORX_MT024001UK05.DispenseNotification"/>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
	<xs:complexType name="PORX_MT024001UK05.DispenseNotification">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="effectiveTime" type="TS"/>
			<xs:element name="recordTarget" type="PORX_MT024001UK05.RecordTarget"/>
			<xs:element name="primaryInformationRecipient" type="PORX_MT024001UK05.PrimaryInformationRecipient"/>
			<xs:element name="pertinentInformation1" type="PORX_MT024001UK05.PertinentInformation1"/>
			<xs:element name="pertinentInformation2" type="PORX_MT024001UK05.PertinentInformation12"/>
			<xs:element name="replacementOf" type="PORX_MT024001UK05.ReplacementOf" minOccurs="0"/>
			<xs:element name="sequelTo" type="PORX_MT024001UK05.SequelTo"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.RecordTarget">
		<xs:sequence>
			<xs:element name="patient" type="PORX_MT024001UK05.Patient"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from II -->
	<xs:complexType name="IIPatient__PORX_MT024001UK05">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="root" type="uid" fixed="2.16.840.1.113883.2.1.4.1"/>
				<xs:attribute name="extension" type="st" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- XSDStrictMaker : Type uses new stricter complex type derived from II -->
	<xs:complexType name="PORX_MT024001UK05.Patient">
		<xs:sequence>
			<!-- Patient OID tightened [II] -->
			<xs:element name="id" type="IIPatient__PORX_MT024001UK05"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Patient"/>
		<xs:attribute name="classCode" type="RoleClass" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PrimaryInformationRecipient">
		<xs:sequence>
			<xs:group ref="UKCT_MT120401UK02"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation1">
		<xs:sequence>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pertinentSupplyHeader" type="PORX_MT024001UK05.SupplyHeader"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
	<xs:complexType name="PORX_MT024001UK05.SupplyHeader">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="author" type="PORX_MT024001UK05.Author"/>
			<xs:element name="pertinentInformation2" type="PORX_MT024001UK05.PertinentInformation10" minOccurs="0"/>
			<xs:element name="pertinentInformation3" type="PORX_MT024001UK05.PertinentInformation11"/>
			<xs:element name="pertinentInformation1" type="PORX_MT024001UK05.PertinentInformation2" maxOccurs="unbounded"/>
			<xs:element name="inFulfillmentOf" type="PORX_MT024001UK05.InFulfillmentOf2"/>
			<xs:element name="predecessor" type="PORX_MT024001UK05.Predecessor2" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.Author">
		<xs:sequence>
			<xs:element name="time" type="TS"/>
			<xs:element name="signatureText" type="ED"/>
			<xs:group ref="UKCT_MT120201UK03"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation10">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentNonDispensingReason" type="PORX_MT024001UK05.NonDispensingReason"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
	<xs:complexType name="PORX_MT024001UK05.NonDispensingReason">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="CV_NotDispensedReason"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation11">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentPrescriptionStatus" type="PORX_MT024001UK05.PrescriptionStatus"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
	<xs:complexType name="PORX_MT024001UK05.PrescriptionStatus">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="text" type="ST" minOccurs="0"/>
			<xs:element name="value" type="CV_PrescriptionStatus"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation2">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pertinentSuppliedLineItem" type="PORX_MT024001UK05.SuppliedLineItem"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
	<xs:complexType name="PORX_MT024001UK05.SuppliedLineItem">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0"/>
			<xs:element name="repeatNumber" type="IVL_INT" minOccurs="0"/>
			<xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0"/>
			<xs:element name="consumable" type="PORX_MT024001UK05.Consumable"/>
			<xs:element name="pertinentInformation1" type="PORX_MT024001UK05.PertinentInformation31" minOccurs="0"/>
			<xs:element name="pertinentInformation2" type="PORX_MT024001UK05.PertinentInformation32" minOccurs="0"/>
			<xs:element name="pertinentInformation3" type="PORX_MT024001UK05.PertinentInformation33"/>
			<xs:element name="pertinentInformation4" type="PORX_MT024001UK05.PertinentInformation34" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation5" type="PORX_MT024001UK05.PertinentInformation35"/>
			<xs:element name="inFulfillmentOf" type="PORX_MT024001UK05.InFulfillmentOf1"/>
			<xs:element name="predecessor" type="PORX_MT024001UK05.Predecessor1" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.Consumable">
		<xs:sequence>
			<xs:element name="requestedManufacturedProduct" type="PORX_MT024001UK05.RequestedManufacturedProduct"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.RequestedManufacturedProduct">
		<xs:sequence>
			<xs:element name="manufacturedRequestedMaterial" type="PORX_MT024001UK05.RequestedMaterial"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="RoleHeir"/>
		<xs:attribute name="classCode" type="RoleClass" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.RequestedMaterial">
		<xs:sequence>
			<xs:element name="code" type="CE"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
		<xs:attribute name="classCode" type="EntityClass" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation31">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentRunningTotal" type="PORX_MT024001UK05.RunningTotal"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
	<xs:complexType name="PORX_MT024001UK05.RunningTotal">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="PQ"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation32">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentNonDispensingReason" type="PORX_MT024001UK05.NonDispensingReason"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation33">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentItemStatus" type="PORX_MT024001UK05.ItemStatus"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
	<xs:complexType name="PORX_MT024001UK05.ItemStatus">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="CV_ItemStatus"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation34">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentSuppliedLineItemQuantity" type="PORX_MT024001UK05.SuppliedLineItemQuantity"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.SuppliedLineItemQuantity">
		<xs:sequence>
			<xs:element name="code" type="CD"/>
			<xs:element name="quantity" type="PQ"/>
			<xs:element name="product" type="PORX_MT024001UK05.Product"/>
			<xs:element name="pertinentInformation2" type="PORX_MT024001UK05.PertinentInformation7" minOccurs="0"/>
			<xs:element name="pertinentInformation1" type="PORX_MT024001UK05.PertinentInformation8" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Supply"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.Product">
		<xs:sequence>
			<xs:element name="suppliedManufacturedProduct" type="PORX_MT024001UK05.SuppliedManufacturedProduct"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.SuppliedManufacturedProduct">
		<xs:sequence>
			<xs:element name="manufacturedSuppliedMaterial" type="PORX_MT024001UK05.SuppliedMaterial"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="RoleHeir"/>
		<xs:attribute name="classCode" type="RoleClass" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.SuppliedMaterial">
		<xs:sequence>
			<xs:element name="code" type="CE"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
		<xs:attribute name="classCode" type="EntityClass" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation7">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentAdditionalInstructions" type="PORX_MT024001UK05.AdditionalInstructions"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
	<xs:complexType name="PORX_MT024001UK05.AdditionalInstructions">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="ST"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation8">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentSupplyInstructions" type="PORX_MT024001UK05.SupplyInstructions"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
	<xs:complexType name="PORX_MT024001UK05.SupplyInstructions">
		<xs:sequence>
			<xs:element name="code" type="CV_PrescriptionAnnotation"/>
			<xs:element name="value" type="ST"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Observation"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation35">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="pertinentSupplyRequest" type="PORX_MT024001UK05.SupplyRequest"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.SupplyRequest">
		<xs:sequence>
			<xs:element name="code" type="CD"/>
			<xs:element name="quantity" type="PQ"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Supply"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.InFulfillmentOf1">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="priorOriginalItemRef" type="PORX_MT024001UK05.OriginalItemRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
	<xs:complexType name="PORX_MT024001UK05.OriginalItemRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.Predecessor1">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="priorSuppliedLineItemRef" type="PORX_MT024001UK05.SuppliedLineItemRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
	<xs:complexType name="PORX_MT024001UK05.SuppliedLineItemRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.InFulfillmentOf2">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="priorOriginalPrescriptionRef" type="PORX_MT024001UK05.OriginalPrescriptionRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
	<xs:complexType name="PORX_MT024001UK05.OriginalPrescriptionRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.Predecessor2">
		<xs:sequence>
			<xs:element name="seperatableInd" type="BL"/>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="priorSupplyHeaderRef" type="PORX_MT024001UK05.SupplyHeaderRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="inversionInd" type="bl" use="required"/>
		<xs:attribute name="contextConductionInd" type="bl" use="required"/>
		<xs:attribute name="negationInd" type="bl" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
	<xs:complexType name="PORX_MT024001UK05.SupplyHeaderRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.PertinentInformation12">
		<xs:sequence>
			<xs:element name="templateId">
				<xs:complexType>
					<xs:attribute name="root" use="required">
						<xs:simpleType>
							<xs:restriction base="uid">
								<xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="extension" use="required">
						<xs:simpleType>
							<xs:restriction base="st">
								<xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					<xs:attribute name="displayable" type="bl" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="pertinentCareRecordElementCategory" type="PORX_MT024001UK05.CareRecordElementCategory"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
	<xs:complexType name="PORX_MT024001UK05.CareRecordElementCategory">
		<xs:sequence>
			<xs:element name="code" type="CV"/>
			<xs:element name="component" type="PORX_MT024001UK05.Component" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActHeir"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.Component">
		<xs:sequence>
			<xs:element name="actRef" type="PORX_MT024001UK05.ActRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
	<xs:complexType name="PORX_MT024001UK05.ActRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActHeir"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.ReplacementOf">
		<xs:sequence>
			<xs:element name="priorMessageRef" type="PORX_MT024001UK05.MessageRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
	<xs:complexType name="PORX_MT024001UK05.MessageRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PORX_MT024001UK05.SequelTo">
		<xs:sequence>
			<xs:element name="priorPrescriptionReleaseEventRef" type="PORX_MT024001UK05.PrescriptionReleaseEventRef"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
	<xs:complexType name="PORX_MT024001UK05.PrescriptionReleaseEventRef">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="required"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
</xs:schema>
