omvt/TightenedSchemas/PRPA_MT030101UK05_3107.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
<xs:include schemaLocation="../VocabSchema/NHSVocab_3107.xsd"/>
   
   <xs:include schemaLocation="../dt/datatypes_3107.xsd"/>
   
   <xs:include schemaLocation="../voc/voc_3107.xsd"/>
   
   <xs:annotation>
      
      <xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   
   </xs:annotation>
<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   
   <xs:include schemaLocation="UKCT_MT120301UK02_3107.xsd"/>
   
   <xs:element name="Referral" type="PRPA_MT030101UK05.Referral"/>
   <!-- XSDStrictMaker : ComplexType ignored due to being top level element -->
   <xs:complexType name="PRPA_MT030101UK05.Referral">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="priorityCode" type="CV_PriorityType" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PRPA_MT030101UK05.Subject" minOccurs="1" maxOccurs="1" name="subject"/>
         
         <xs:element type="PRPA_MT030101UK05.Author2" minOccurs="1" maxOccurs="1" name="author"/>
         
         <xs:element type="PRPA_MT030101UK05.Component2" minOccurs="1" maxOccurs="unbounded" name="component2"/>
         
         <xs:element type="PRPA_MT030101UK05.Component3" minOccurs="1" maxOccurs="unbounded" name="component1"/>
         
         <xs:element type="PRPA_MT030101UK05.PertinentInformation6" minOccurs="1" maxOccurs="unbounded" name="pertinentInformation"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Subject">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.Patient" minOccurs="1" maxOccurs="1" name="patient"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : New stricter complex type derived from II -->
   <xs:complexType name="IIPatient__PRPA_MT030101UK05">
      <xs:complexContent>
         <xs:restriction base="II">
            <xs:attribute name="root" type="uid" fixed="2.16.840.1.113883.2.1.4.1"/>
            <xs:attribute name="extension" type="st" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from II -->
   <xs:complexType name="PRPA_MT030101UK05.Patient">
      
      <xs:sequence>
         <!-- Patient OID tightened [II] -->
         <xs:element name="id" type="IIPatient__PRPA_MT030101UK05" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PRPA_MT030101UK05.Person" minOccurs="0" maxOccurs="1" name="patientPerson"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Patient"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PRPA_MT030101UK05.Person">
      
      <xs:sequence>
         
         <xs:element name="religiousAffiliationCode" type="CV_ReligiousAffiliation" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="ethnicGroupCode" type="CV_EthnicCategory" minOccurs="0" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Person"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Author2">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Component2">
      
      <xs:sequence>
         
         <xs:choice>
            
            <xs:element name="CompoundStatement" minOccurs="1" maxOccurs="1" type="PRPA_MT030101UK05.CompoundStatement"/>
            
            <xs:element name="Medication" minOccurs="1" maxOccurs="1" type="PRPA_MT030101UK05.Medication"/>
            
            <xs:element name="NarrativeStatement" minOccurs="1" maxOccurs="1" type="PRPA_MT030101UK05.NarrativeStatement"/>
            
            <xs:element name="ObservationStatement" minOccurs="1" maxOccurs="1" type="PRPA_MT030101UK05.ObservationStatement"/>
            
            <xs:element name="ProcedureEvent" minOccurs="1" maxOccurs="1" type="PRPA_MT030101UK05.ProcedureEvent"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Performer">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVCompoundStatement_priorityCode_PRPA_MT030101UK05">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.2.1.3.2.4.15"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVCompoundStatement_uncertaintyCode_PRPA_MT030101UK05">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.5.1053"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from CV -->
   <xs:complexType name="PRPA_MT030101UK05.CompoundStatement">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <!-- CompoundStatement OID tightened [CV] -->
         <xs:element name="priorityCode" type="CV_PriorityType" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="uncertaintyCode" type="CS_ActUncertainty" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="interpretationCode" type="CV_Interpretation" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="PRPA_MT030101UK05.Component4" minOccurs="1" maxOccurs="unbounded" name="component"/>
         
         <xs:element name="performer" type="PRPA_MT030101UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="levelCode" type="EhrCompoundLevel_code" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Component4">
      
      <xs:sequence>
         
         <xs:choice>
            
            <xs:element name="CompoundStatement" minOccurs="1" maxOccurs="1" type="PRPA_MT030101UK05.CompoundStatement"/>
            
            <xs:element name="Medication" minOccurs="1" maxOccurs="1" type="PRPA_MT030101UK05.Medication"/>
            
            <xs:element name="NarrativeStatement" minOccurs="1" maxOccurs="1" type="PRPA_MT030101UK05.NarrativeStatement"/>
            
            <xs:element name="ObservationStatement" minOccurs="1" maxOccurs="1" type="PRPA_MT030101UK05.ObservationStatement"/>
            
            <xs:element name="ProcedureEvent" minOccurs="1" maxOccurs="1" type="PRPA_MT030101UK05.ProcedureEvent"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PRPA_MT030101UK05.Medication">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CV_MedicationActType" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="routeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="doseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="maxDoseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="PRPA_MT030101UK05.Consumable" minOccurs="1" maxOccurs="1" name="consumable"/>
         
         <xs:element type="PRPA_MT030101UK05.Component5" minOccurs="0" maxOccurs="1" name="component"/>
         
         <xs:element type="PRPA_MT030101UK05.PertinentInformation" minOccurs="0" maxOccurs="1" name="pertinentInformation2"/>
         
         <xs:element type="PRPA_MT030101UK05.PertinentInformation4" minOccurs="0" maxOccurs="1" name="pertinentInformation4"/>
         
         <xs:element type="PRPA_MT030101UK05.PertinentInformation5" minOccurs="0" maxOccurs="1" name="pertinentInformation1"/>
         
         <xs:element type="PRPA_MT030101UK05.PertinentInformation7" minOccurs="0" maxOccurs="unbounded" name="pertinentInformation3"/>
         
         <xs:element type="PRPA_MT030101UK05.PertinentInformation8" minOccurs="0" maxOccurs="1" name="pertinentInformation5"/>
         
         <xs:element name="performer" type="PRPA_MT030101UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Consumable">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.Medicine" minOccurs="1" maxOccurs="1" name="medicine"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Medicine">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.Substance" minOccurs="1" maxOccurs="1" name="manufacturedSubstance"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Substance">
      
      <xs:sequence>
         
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="name" type="ST" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ManufacturedMaterial"/>
      
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
      
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Component5">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.SupplyEvent" minOccurs="1" maxOccurs="1" name="supplyEvent"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.SupplyEvent">
      
      <xs:sequence>
         
         <xs:element name="quantity" type="PQ" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Supply"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.PertinentInformation">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.MedicationDosage" minOccurs="1" maxOccurs="1" name="pertinentMedicationDosage"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.MedicationDosage">
      
      <xs:sequence>
         
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.PertinentInformation4">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.MedicationReviewReq" minOccurs="1" maxOccurs="1" name="pertinentMedicationReviewReq"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.MedicationReviewReq">
      
      <xs:sequence>
         
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="value" type="BL" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.PertinentInformation5">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.MedicationTiming" minOccurs="1" maxOccurs="1" name="pertinentMedicationTiming"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.MedicationTiming">
      
      <xs:sequence>
         
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.PertinentInformation7">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.MedicationAdminTrigger" minOccurs="1" maxOccurs="1" name="pertinentMedicationAdminTrigger"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.MedicationAdminTrigger">
      
      <xs:sequence>
         
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="SubstanceAdministration"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.PertinentInformation8">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.MedicationCommentary" minOccurs="1" maxOccurs="1" name="pertinentMedicationCommentary"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.MedicationCommentary">
      
      <xs:sequence>
         
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PRPA_MT030101UK05.NarrativeStatement">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="text" type="ED" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="performer" type="PRPA_MT030101UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : New stricter complex type derived from CV -->
   <xs:complexType name="CVObservationStatement_priorityCode_PRPA_MT030101UK05">
      <xs:complexContent>
         <xs:restriction base="CV">
            <xs:attribute name="codeSystem" type="uid" fixed="2.16.840.1.113883.2.1.3.2.4.15"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from CV -->
   <xs:complexType name="PRPA_MT030101UK05.ObservationStatement">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="uncertaintyCode" type="CS_ActUncertainty" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="interpretationCode" type="CV_Interpretation" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="PRPA_MT030101UK05.PertinentInformation2" minOccurs="0" maxOccurs="1" name="pertinentInformation"/>
         
         <xs:element type="PRPA_MT030101UK05.ReferenceRange" minOccurs="0" maxOccurs="unbounded" name="referenceRange"/>
         
         <xs:element name="performer" type="PRPA_MT030101UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.PertinentInformation2">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.ObservationCommentary" minOccurs="1" maxOccurs="1" name="pertinentObservationCommentary"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.ObservationCommentary">
      
      <xs:sequence>
         
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.ReferenceRange">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.NormalRange" minOccurs="1" maxOccurs="1" name="referenceNormalRange"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="PRPA_MT030101UK05.NormalRange">
      
      <xs:sequence>
         
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="value" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="interpretationCode" type="CV_Interpretation" minOccurs="0" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PRPA_MT030101UK05.ProcedureEvent">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         
         <xs:element type="PRPA_MT030101UK05.PertinentInformation3" minOccurs="0" maxOccurs="1" name="pertinentInformation"/>
         
         <xs:element name="performer" type="PRPA_MT030101UK05.Performer" minOccurs="0" maxOccurs="unbounded"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Procedure"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.PertinentInformation3">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.ProcedureCommentary" minOccurs="1" maxOccurs="1" name="pertinentProcedureCommentary"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.ProcedureCommentary">
      
      <xs:sequence>
         
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Component3">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.CategoryHeader" minOccurs="1" maxOccurs="1" name="categoryHeader"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="PRPA_MT030101UK05.CategoryHeader">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CV_ReferralCategoryHeading" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="PRPA_MT030101UK05.Component" minOccurs="1" maxOccurs="unbounded" name="component"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.Component">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.ActRef" minOccurs="1" maxOccurs="1" name="actRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="PRPA_MT030101UK05.ActRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="PRPA_MT030101UK05.PertinentInformation6">
      
      <xs:sequence>
         
         <xs:element type="PRPA_MT030101UK05.RequestedAction" minOccurs="1" maxOccurs="1" name="pertinentRequestedAction"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="PRPA_MT030101UK05.RequestedAction">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV_ServiceTypeRequested" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>

</xs:schema>
