omvt/TightenedSchemas/QUPA_MT020101UK14_3109.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
<xs:include schemaLocation="../VocabSchema/NHSVocab_3109.xsd"/>
   
   <xs:include schemaLocation="../dt/datatypes_3109.xsd"/>
   
   <xs:include schemaLocation="../voc/voc_3109.xsd"/>
   
   <xs:annotation>
      
      <xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   
   </xs:annotation>
<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   
   <xs:include schemaLocation="UKCT_MT120901UK01_3109.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT121001UK01_3109.xsd"/>
   
   <xs:element name="ControlActEvent" type="QUPA_MT020101UK14.ControlActEvent"/>
   
   <xs:complexType name="QUPA_MT020101UK14.ControlActEvent">
      
      <xs:sequence>
         
         <xs:element type="QUPA_MT020101UK14.Author" minOccurs="0" maxOccurs="1" name="author"/>
         
         <xs:element type="QUPA_MT020101UK14.Author2" minOccurs="1" maxOccurs="2" name="author1"/>
         
         <xs:element type="QUPA_MT020101UK14.Query" minOccurs="1" maxOccurs="1" name="query"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ControlAct"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="QUPA_MT020101UK14.Author">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120901UK01"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="QUPA_MT020101UK14.Author2">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT121001UK01"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="QUPA_MT020101UK14.Query">
      
      <xs:sequence>
         
         <xs:element type="QUPA_MT020101UK14.HistoricDataIndicator" minOccurs="1" maxOccurs="1" name="historicDataIndicator"/>
         
         <xs:element type="QUPA_MT020101UK14.Person.address" minOccurs="0" maxOccurs="1" name="person.address"/>
         
         <xs:element type="QUPA_MT020101UK14.Person.administrativeGenderCode" minOccurs="1" maxOccurs="1" name="person.administrativeGenderCode"/>
         
         <xs:element type="QUPA_MT020101UK14.Person.birthTime" minOccurs="1" maxOccurs="1" name="person.birthTime"/>
         
         <xs:element type="QUPA_MT020101UK14.Person.deceasedTime" minOccurs="0" maxOccurs="1" name="person.deceasedTime"/>
         
         <xs:element type="QUPA_MT020101UK14.Person.id" minOccurs="0" maxOccurs="1" name="person.id"/>
         
         <xs:element type="QUPA_MT020101UK14.Person.name" minOccurs="1" maxOccurs="1" name="person.name"/>
         
         <xs:element type="QUPA_MT020101UK14.PrimaryCare.id" minOccurs="0" maxOccurs="1" name="primaryCare.id"/>
         
         <xs:element type="QUPA_MT020101UK14.SearchParameter" minOccurs="1" maxOccurs="1" name="searchParameter"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="QueryByParameter"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="QUPA_MT020101UK14.HistoricDataIndicator">
      
      <xs:sequence>
         
         <xs:element name="value" type="CV_HistoricDataIndicator" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ParameterItem"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="QUPA_MT020101UK14.Person.address">
      
      <xs:sequence>
         
         <xs:element name="value" type="AD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ParameterItem"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="QUPA_MT020101UK14.Person.administrativeGenderCode">
      
      <xs:sequence>
         
         <xs:element name="value" type="CS_Sex" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ParameterItem"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="QUPA_MT020101UK14.Person.birthTime">
      
      <xs:sequence>
         
         <xs:element name="value" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ParameterItem"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="QUPA_MT020101UK14.Person.deceasedTime">
      
      <xs:sequence>
         
         <xs:element name="value" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ParameterItem"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="QUPA_MT020101UK14.Person.id">
      
      <xs:sequence>
         
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ParameterItem"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="QUPA_MT020101UK14.Person.name">
      
      <xs:sequence>
         
         <xs:element name="value" type="PN" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ParameterItem"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="QUPA_MT020101UK14.PrimaryCare.id">
      
      <xs:sequence>
         
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ParameterItem"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="QUPA_MT020101UK14.SearchParameter">
      
      <xs:sequence>
         
         <xs:element name="value" type="CV_SearchParameter" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ParameterItem"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>

</xs:schema>
