omvt/TightenedSchemas/REMH_MT060101UK03_3107.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
<xs:include schemaLocation="../VocabSchema/NHSVocab_3107.xsd"/>
   
   <xs:include schemaLocation="../dt/datatypes_3107.xsd"/>
   
   <xs:include schemaLocation="../voc/voc_3107.xsd"/>
   
   <xs:annotation>
      
      <xs:documentation>
		Generated using schema builder version 1.21p12.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.1
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   
   </xs:annotation>
<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   
   <xs:include schemaLocation="UKCT_MT120301UK02_3107.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120101UK02_3107.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120401UK02_3107.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120201UK02_3107.xsd"/>
   
   <xs:include schemaLocation="UKCT_MT120501UK02_3107.xsd"/>
   
   <xs:element name="CPASummary" type="REMH_MT060101UK03.CPASummary"/>
   <!-- XSDStrictMaker : ComplexType ignored due to being top level element -->
   <xs:complexType name="REMH_MT060101UK03.CPASummary">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="REMH_MT060101UK03.RecordTarget" minOccurs="1" maxOccurs="1" name="recordTarget"/>
         
         <xs:element type="REMH_MT060101UK03.Performer1" minOccurs="1" maxOccurs="1" name="performer"/>
         
         <xs:element type="REMH_MT060101UK03.Author" minOccurs="1" maxOccurs="1" name="author"/>
         
         <xs:element type="REMH_MT060101UK03.PertinentInformation1" minOccurs="1" maxOccurs="1" name="pertinentInformation1"/>
         
         <xs:element type="REMH_MT060101UK03.PertinentInformation2" minOccurs="1" maxOccurs="unbounded" name="pertinentInformation2"/>
         
         <xs:element type="REMH_MT060101UK03.PertinentInformation5" minOccurs="1" maxOccurs="unbounded" name="pertinentInformation5"/>
         
         <xs:element type="REMH_MT060101UK03.PertinentInformation6" minOccurs="0" maxOccurs="unbounded" name="pertinentInformation6"/>
         
         <xs:element type="REMH_MT060101UK03.ReplacementOf" minOccurs="0" maxOccurs="1" name="replacementOf"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.RecordTarget">
      
      <xs:sequence>
         
         <xs:element type="REMH_MT060101UK03.Patient" minOccurs="1" maxOccurs="1" name="patient"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : New stricter complex type derived from II -->
   <xs:complexType name="IIPatient__REMH_MT060101UK03">
      <xs:complexContent>
         <xs:restriction base="II">
            <xs:attribute name="root" type="uid" fixed="2.16.840.1.113883.2.1.4.1"/>
            <xs:attribute name="extension" type="st" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from II -->
   <xs:complexType name="REMH_MT060101UK03.Patient">
      
      <xs:sequence>
         <!-- Patient OID tightened [II] -->
         <xs:element name="id" type="IIPatient__REMH_MT060101UK03" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Patient"/>
      
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Performer1">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Author">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.PertinentInformation1">
      
      <xs:sequence>
         
         <xs:element type="REMH_MT060101UK03.SummaryMHSSType" minOccurs="1" maxOccurs="1" name="pertinentSummaryMHSSType"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.SummaryMHSSType">
      
      <xs:sequence>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.PertinentInformation2">
      
      <xs:sequence>
         
         <xs:element name="sequenceNumber" type="INT" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.CPAReview" minOccurs="1" maxOccurs="1" name="pertinentCPAReview"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.CPAReview">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="REMH_MT060101UK03.Participant" minOccurs="0" maxOccurs="unbounded" name="Participant"/>
         
         <xs:element type="REMH_MT060101UK03.ResponsibleParty" minOccurs="0" maxOccurs="1" name="responsibleParty"/>
         
         <xs:element type="REMH_MT060101UK03.Component1" minOccurs="0" maxOccurs="2" name="component1"/>
         
         <xs:element type="REMH_MT060101UK03.Component2" minOccurs="0" maxOccurs="1" name="component2"/>
         
         <xs:element type="REMH_MT060101UK03.Component4" minOccurs="0" maxOccurs="unbounded" name="component4"/>
         
         <xs:element type="REMH_MT060101UK03.Component5" minOccurs="0" maxOccurs="3" name="component5"/>
         
         <xs:element type="REMH_MT060101UK03.Component6" minOccurs="0" maxOccurs="1" name="component6"/>
         
         <xs:element type="REMH_MT060101UK03.Component8" minOccurs="0" maxOccurs="1" name="component8"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="PatientEncounter"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Participant">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120101UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType_code" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.ResponsibleParty">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Component1">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.CrisisAndContingency" minOccurs="1" maxOccurs="1" name="crisisAndContingency"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.CrisisAndContingency">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="REMH_MT060101UK03.Performer2" minOccurs="0" maxOccurs="unbounded" name="performer"/>
         
         <xs:element type="REMH_MT060101UK03.PertinentInformation3" minOccurs="1" maxOccurs="1" name="pertinentInformation"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Procedure"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Performer2">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.PertinentInformation3">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.MHSSType" minOccurs="1" maxOccurs="1" name="pertinentMHSSType"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.MHSSType">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Component2">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.MHCPACarePlan" minOccurs="1" maxOccurs="1" name="mHCPACarePlan"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.MHCPACarePlan">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="REMH_MT060101UK03.Component3" minOccurs="1" maxOccurs="unbounded" name="component"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Procedure"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Component3">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.MHCPACarePlanElement" minOccurs="1" maxOccurs="1" name="mHCPACarePlanElement"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.MHCPACarePlanElement">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="REMH_MT060101UK03.Performer3" minOccurs="1" maxOccurs="1" name="performer"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Procedure"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Performer3">
      
      <xs:sequence>
         
         <xs:choice>
            
            <xs:element name="AgentOrg" minOccurs="1" maxOccurs="1" type="UKCT_MT120401UK02.AgentOrg"/>
            
            <xs:element name="AgentPerson" minOccurs="1" maxOccurs="1" type="UKCT_MT120201UK02.AgentPerson"/>
         
         </xs:choice>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Component4">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.Observations" minOccurs="1" maxOccurs="1" name="observations"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.Observations">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Component5">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.CPAAssessments" minOccurs="1" maxOccurs="1" name="cPAAssessments"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.CPAAssessments">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS_AssessmentStatus" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="REMH_MT060101UK03.Performer4" minOccurs="1" maxOccurs="1" name="performer"/>
         
         <xs:element type="REMH_MT060101UK03.PertinentInformation4" minOccurs="1" maxOccurs="1" name="pertinentInformation"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Performer4">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120301UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.PertinentInformation4">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.MHSSType" minOccurs="1" maxOccurs="1" name="pertinentMHSSType"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Component6">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.MHAAssessment" minOccurs="1" maxOccurs="1" name="mHAAssessment"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.MHAAssessment">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="statusCode" type="CS_AssessmentStatus" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="REMH_MT060101UK03.Performer5" minOccurs="1" maxOccurs="1" name="performer"/>
         
         <xs:element type="REMH_MT060101UK03.Component7" minOccurs="0" maxOccurs="1" name="component"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Performer5">
      
      <xs:sequence>
         
         <xs:group ref="UKCT_MT120501UK02"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Participation"/>
      
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Component7">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.MHALegalStatus" minOccurs="1" maxOccurs="1" name="mHALegalStatus"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.MHALegalStatus">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="Observation"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Component8">
      
      <xs:sequence>
         
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.NextReview" minOccurs="1" maxOccurs="1" name="nextReview"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="inversionInd" type="bl" use="required"/>
      
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
      
      <xs:attribute name="negationInd" type="bl" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.NextReview">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="PatientEncounter"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.PertinentInformation5">
      
      <xs:sequence>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation1"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.CareRecordElementCategory" minOccurs="1" maxOccurs="1" name="pertinentCareRecordElementCategory"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.CareRecordElementCategory">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="REMH_MT060101UK03.Component9" minOccurs="1" maxOccurs="unbounded" name="component"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Component9">
      
      <xs:sequence>
         
         <xs:element type="REMH_MT060101UK03.ActRef" minOccurs="1" maxOccurs="1" name="actRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="REMH_MT060101UK03.ActRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.PertinentInformation6">
      
      <xs:sequence>
         
         <xs:element name="templateId">
            
            <xs:complexType>
               
               <xs:attribute name="root" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="uid">
                        
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="extension" use="required">
                  
                  <xs:simpleType>
                     
                     <xs:restriction base="st">
                        
                        <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation2"/>
                     
                     </xs:restriction>
                  
                  </xs:simpleType>
               
               </xs:attribute>
               
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
               
               <xs:attribute name="displayable" type="bl" use="optional"/>
            
            </xs:complexType>
         
         </xs:element>
         
         <xs:element type="REMH_MT060101UK03.FocalActCategory" minOccurs="1" maxOccurs="1" name="pertinentFocalActCategory"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REMH_MT060101UK03.FocalActCategory">
      
      <xs:sequence>
         
         <xs:element name="code" type="CV_FocalActCategory" minOccurs="1" maxOccurs="1"/>
         
         <xs:element type="REMH_MT060101UK03.Component10" minOccurs="0" maxOccurs="unbounded" name="component"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.Component10">
      
      <xs:sequence>
         
         <xs:element type="REMH_MT060101UK03.ActRef" minOccurs="1" maxOccurs="1" name="actRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   
   <xs:complexType name="REMH_MT060101UK03.ReplacementOf">
      
      <xs:sequence>
         
         <xs:element type="REMH_MT060101UK03.MessageRef" minOccurs="1" maxOccurs="1" name="priorMessageRef"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>
   <!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="REMH_MT060101UK03.MessageRef">
      
      <xs:sequence>
         
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      
      </xs:sequence>
      
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      
      <xs:attribute name="classCode" type="ActClass" use="required"/>
      
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      
      <xs:attribute name="typeID" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="oid"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="realmCode" use="optional">
         
         <xs:simpleType>
            
            <xs:list itemType="cs"/>
         
         </xs:simpleType>
      
      </xs:attribute>
      
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   
   </xs:complexType>

</xs:schema>
