omvt/TightenedSchemas/REPC_MT400101UK08_3110.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a non-standard "strict" version of an NPfIT schema, with optional elements made required and II/CV types tightened. -->
<!-- The schemas have also been tightened for NHSVocab Types.-->
<!-- It is provided "without prejudice" with no guarantee of fitness for any purpose -->
<!-- Produced by XSDStrictMaker v1.5, Definition file v1.2-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
<xs:include schemaLocation="../VocabSchema/NHSVocab_3110.xsd"/>
	
   <xs:include schemaLocation="../dt/datatypes_3110.xsd"/>
	
   <xs:include schemaLocation="../voc/voc_3110.xsd"/>
	
   <xs:annotation>
		
      <xs:documentation>
		Generated using schema builder version 1.21p12_3.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
	
   </xs:annotation>
<!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21p12_3, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
	
   <xs:include schemaLocation="UKCT_MT120501UK03_3110.xsd"/>
	
   <xs:include schemaLocation="UKCT_MT120301UK02_3110.xsd"/>
	
   <xs:include schemaLocation="UKCT_MT120401UK03_3110.xsd"/>
	
   <xs:include schemaLocation="UKCT_MT120201UK03_3110.xsd"/>
	
   <xs:include schemaLocation="UKCT_MT120601UK02_3110.xsd"/>
	
   <xs:include schemaLocation="UKCT_MT120101UK04_3110.xsd"/>
	
   <xs:include schemaLocation="UKCT_MT140901UK02_3110.xsd"/>
	
   <xs:include schemaLocation="UKCT_MT141001UK01_3110.xsd"/>
	
   <xs:element name="DischargeNotification" type="REPC_MT400101UK08.DischargeNotification"/>
	<!-- XSDStrictMaker : ComplexType ignored due to being top level element -->
   <xs:complexType name="REPC_MT400101UK08.DischargeNotification">
		
      <xs:sequence>
			
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
			
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.RecordTarget" minOccurs="1" maxOccurs="1" name="recordTarget"/>
			
         <xs:element type="REPC_MT400101UK08.Author2" minOccurs="1" maxOccurs="1" name="author"/>
			
         <xs:element type="REPC_MT400101UK08.PrimaryInformationRecipient" minOccurs="1" maxOccurs="1" name="primaryInformationRecipient"/>
			
         <xs:element type="REPC_MT400101UK08.PrimaryPerformer" minOccurs="0" maxOccurs="1" name="primaryPerformer"/>
			
         <xs:element type="REPC_MT400101UK08.Tracker" minOccurs="0" maxOccurs="unbounded" name="tracker"/>
			
         <xs:element type="REPC_MT400101UK08.PertinentInformation10" minOccurs="0" maxOccurs="unbounded" name="pertinentInformation2"/>
			
         <xs:element type="REPC_MT400101UK08.PertinentInformation8" minOccurs="1" maxOccurs="1" name="pertinentInformation3"/>
			
         <xs:element type="REPC_MT400101UK08.PertinentInformation9" minOccurs="1" maxOccurs="unbounded" name="pertinentInformation1"/>
			
         <xs:element type="REPC_MT400101UK08.ReplacementOf" minOccurs="0" maxOccurs="1" name="replacementOf"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="PatientEncounter"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.RecordTarget">
		
      <xs:sequence>
			
         <xs:element type="REPC_MT400101UK08.Patient" minOccurs="1" maxOccurs="1" name="patient"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : New stricter complex type derived from II -->
   <xs:complexType name="IIPatient__REPC_MT400101UK08">
      <xs:complexContent>
         <xs:restriction base="II">
            <xs:attribute name="root" type="uid" fixed="2.16.840.1.113883.2.1.4.1"/>
            <xs:attribute name="extension" type="st" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
<!-- XSDStrictMaker : Type uses new stricter complex type derived from II -->
   <xs:complexType name="REPC_MT400101UK08.Patient">
		
      <xs:sequence>
			<!-- Patient OID tightened [II] -->
         <xs:element name="id" type="IIPatient__REPC_MT400101UK08" minOccurs="1" maxOccurs="1"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Patient"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.Author2">
		
      <xs:sequence>
			
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
			
         <xs:choice>
				
            <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120501UK03.AgentOrgSDS"/>
				
            <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120301UK02.AgentPersonSDS"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PrimaryInformationRecipient">
		
      <xs:sequence>
			
         <xs:choice>
				
            <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120501UK03.AgentOrgSDS"/>
				
            <xs:element name="AgentPersonSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120301UK02.AgentPersonSDS"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PrimaryPerformer">
		
      <xs:sequence>
			
         <xs:element name="AgentPersonSDS" type="UKCT_MT120301UK02.AgentPersonSDS" minOccurs="1" maxOccurs="1"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.Tracker">
		
      <xs:sequence>
			
         <xs:choice>
				
            <xs:element name="AgentOrg" minOccurs="1" maxOccurs="1" type="UKCT_MT120401UK03.AgentOrg"/>
				
            <xs:element name="AgentPerson" minOccurs="1" maxOccurs="1" type="UKCT_MT120201UK03.AgentPerson"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PertinentInformation10">
		
      <xs:sequence>
			
         <xs:element name="templateId">
				
            <xs:complexType>
					
               <xs:attribute name="root" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="uid">
								
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="extension" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="st">
								
                        <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation2"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					
               <xs:attribute name="displayable" type="bl" use="optional"/>
				
            </xs:complexType>
			
         </xs:element>
			
         <xs:element type="REPC_MT400101UK08.FocalActCategory" minOccurs="1" maxOccurs="1" name="pertinentFocalActCategory"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REPC_MT400101UK08.FocalActCategory">
		
      <xs:sequence>
			
         <xs:element name="code" type="CV_FocalActCategory" minOccurs="1" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.Component2" minOccurs="1" maxOccurs="unbounded" name="component"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.Component2">
		
      <xs:sequence>
			
         <xs:element type="REPC_MT400101UK08.ActRef" minOccurs="1" maxOccurs="1" name="actRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="REPC_MT400101UK08.ActRef">
		
      <xs:sequence>
			
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PertinentInformation8">
		
      <xs:sequence>
			
         <xs:element name="templateId">
				
            <xs:complexType>
					
               <xs:attribute name="root" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="uid">
								
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="extension" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="st">
								
                        <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					
               <xs:attribute name="displayable" type="bl" use="optional"/>
				
            </xs:complexType>
			
         </xs:element>
			
         <xs:element type="REPC_MT400101UK08.AcuteCareSpell" minOccurs="1" maxOccurs="1" name="pertinentAcuteCareSpell"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="REPC_MT400101UK08.AcuteCareSpell">
		
      <xs:sequence>
			
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
			
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
			
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
			
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
			
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.Author1" minOccurs="0" maxOccurs="1" name="author"/>
			
         <xs:element type="REPC_MT400101UK08.Location" minOccurs="0" maxOccurs="1" name="location"/>
			
         <xs:element type="REPC_MT400101UK08.Participant" minOccurs="0" maxOccurs="unbounded" name="Participant"/>
			
         <xs:element type="REPC_MT400101UK08.PertinentInformation" minOccurs="1" maxOccurs="1" name="pertinentInformation2"/>
			
         <xs:element type="REPC_MT400101UK08.PertinentInformation14" minOccurs="1" maxOccurs="unbounded" name="pertinentInformation4"/>
			
         <xs:element type="REPC_MT400101UK08.PertinentInformation2" minOccurs="0" maxOccurs="1" name="pertinentInformation1"/>
			
         <xs:element type="REPC_MT400101UK08.PertinentInformation3" minOccurs="0" maxOccurs="unbounded" name="pertinentInformation5"/>
			
         <xs:element type="REPC_MT400101UK08.PertinentInformation6" minOccurs="1" maxOccurs="1" name="pertinentInformation"/>
			
         <xs:element type="REPC_MT400101UK08.PertinentInformation7" minOccurs="1" maxOccurs="1" name="pertinentInformation3"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="PatientEncounter"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.Author1">
		
      <xs:sequence>
			
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
			
         <xs:choice>
				
            <xs:element name="NonAgentRole" minOccurs="1" maxOccurs="1" type="REPC_MT400101UK08.NonAgentRole"/>
				
            <xs:element name="AgentDevice" minOccurs="1" maxOccurs="1" type="UKCT_MT120601UK02.AgentDevice"/>
				
            <xs:element name="AgentPerson" minOccurs="1" maxOccurs="1" type="UKCT_MT120201UK03.AgentPerson"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType specifically ignored -->
   <xs:complexType name="REPC_MT400101UK08.NonAgentRole">
		
      <xs:sequence>
			
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			
         <xs:element name="code" type="CV_PersonRelationshipType" minOccurs="1" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.NonAgentPerson" minOccurs="0" maxOccurs="1" name="playingNonAgentPerson"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.NonAgentPerson">
		
      <xs:sequence>
			
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="unbounded"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Person"/>
		
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
		
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.Location">
		
      <xs:sequence>
			
         <xs:choice>
				
            <xs:element name="IncidentalLocation" minOccurs="1" maxOccurs="1" type="REPC_MT400101UK08.IncidentalLocation"/>
				
            <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120501UK03.AgentOrgSDS"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REPC_MT400101UK08.IncidentalLocation">
		
      <xs:sequence>
			
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.Place" minOccurs="0" maxOccurs="1" name="location"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
		
      <xs:attribute name="classCode" type="RoleClass" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.Place">
		
      <xs:sequence>
			
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
			
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
			
         <xs:element name="positionText" type="ED" minOccurs="0" maxOccurs="1"/>
			
         <xs:element name="gpsText" type="ST" minOccurs="0" maxOccurs="1"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Place"/>
		
      <xs:attribute name="classCode" type="EntityClass" use="required"/>
		
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.Participant">
		
      <xs:sequence>
			
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
			
         <xs:choice>
				
            <xs:element name="Agent" type="UKCT_MT120101UK04.Agent" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="AgentRef" type="UKCT_MT120101UK04.AgentRef" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="AgentSDS" type="UKCT_MT120101UK04.AgentSDS" minOccurs="1" maxOccurs="1"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType_code" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PertinentInformation">
		
      <xs:sequence>
			
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.CareSetting" minOccurs="1" maxOccurs="1" name="pertinentCareSetting"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REPC_MT400101UK08.CareSetting">
		
      <xs:sequence>
			
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PertinentInformation14">
		
      <xs:sequence>
			
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
			
         <xs:element name="templateId">
				
            <xs:complexType>
					
               <xs:attribute name="root" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="uid">
								
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="extension" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="st">
								
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					
               <xs:attribute name="displayable" type="bl" use="optional"/>
				
            </xs:complexType>
			
         </xs:element>
			
         <xs:choice>
				
            <xs:element name="CareEvent" type="UKCT_MT140901UK02.CareEvent" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="Consent" type="UKCT_MT140901UK02.Consent" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="Observation" type="UKCT_MT140901UK02.Observation" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="Organizer" type="UKCT_MT140901UK02.Organizer" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="Procedure" type="UKCT_MT140901UK02.Procedure" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="StatementRelationship" type="UKCT_MT140901UK02.StatementRelationship" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="SubstanceAdministration" type="UKCT_MT140901UK02.SubstanceAdministration" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="Supply" type="UKCT_MT140901UK02.Supply" minOccurs="1" maxOccurs="1"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="inversionInd" type="bl" use="required"/>
		
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
		
      <xs:attribute name="negationInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PertinentInformation2">
		
      <xs:sequence>
			
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.CareEventCommentary" minOccurs="1" maxOccurs="1" name="pertinentCareEventCommentary"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.CareEventCommentary">
		
      <xs:sequence>
			
         <xs:element name="value" type="ST" minOccurs="1" maxOccurs="1"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PertinentInformation3">
		
      <xs:sequence>
			
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
			
         <xs:element name="templateId">
				
            <xs:complexType>
					
               <xs:attribute name="root" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="uid">
								
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="extension" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="st">
								
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					
               <xs:attribute name="displayable" type="bl" use="optional"/>
				
            </xs:complexType>
			
         </xs:element>
			
         <xs:choice>
				
            <xs:element name="AdministerMedicationCourse" type="UKCT_MT140701UK01.AdministerMedicationCourse" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="AdministerMedicationDose" type="UKCT_MT140201UK01.AdministerMedicationDose" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="PlanMedicationAdministration" type="UKCT_MT140301UK01.PlanMedicationAdministration" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="RecommendAvoidMedication" type="UKCT_MT140101UK01.RecommendAvoidMedication" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="RecommendDiscontinueMedicationAdministration" type="UKCT_MT140101UK01.RecommendDiscontinueMedicationAdministration" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="RecommendDosageChange" type="UKCT_MT140101UK01.RecommendDosageChange" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="RecommendMaintainMedication" type="UKCT_MT140101UK01.RecommendMaintainMedication" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="RecommendMedicationAdministration" type="UKCT_MT140101UK01.RecommendMedicationAdministration" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="RecommendMedicationSubstitution" type="UKCT_MT140101UK01.RecommendMedicationSubstitution" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="RequestMedicationAdministration" type="UKCT_MT140801UK01.RequestMedicationAdministration" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="RequestMedicationSupplyAbort" type="UKCT_MT140601UK01.RequestMedicationSupplyAbort" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="RequestMedicationSupply" type="UKCT_MT140401UK01.RequestMedicationSupply" minOccurs="1" maxOccurs="1"/>
				
            <xs:element name="SupplyMedication" type="UKCT_MT140501UK01.SupplyMedication" minOccurs="1" maxOccurs="1"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="inversionInd" type="bl" use="required"/>
		
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
		
      <xs:attribute name="negationInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PertinentInformation6">
		
      <xs:sequence>
			
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
			
         <xs:element name="templateId">
				
            <xs:complexType>
					
               <xs:attribute name="root" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="uid">
								
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="extension" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="st">
								
                        <xs:enumeration value="CSAB_RM-NPfITUK10.sourceOf2"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					
               <xs:attribute name="displayable" type="bl" use="optional"/>
				
            </xs:complexType>
			
         </xs:element>
			
         <xs:element type="REPC_MT400101UK08.Discharge" minOccurs="1" maxOccurs="1" name="pertinentDischarge"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="inversionInd" type="bl" use="required"/>
		
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
		
      <xs:attribute name="negationInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to II pair -->
   <xs:complexType name="REPC_MT400101UK08.Discharge">
		
      <xs:sequence>
			
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="2"/>
			
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
			
         <xs:element name="dischargeDispositionCode" type="CV_DischargeMethod" minOccurs="1" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.Destination" minOccurs="0" maxOccurs="1" name="destination"/>
			
         <xs:element type="REPC_MT400101UK08.PertinentInformation20" minOccurs="0" maxOccurs="1" name="pertinentInformation"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="PatientEncounter"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.Destination">
		
      <xs:sequence>
			
         <xs:choice>
				
            <xs:element name="IncidentalLocation" minOccurs="1" maxOccurs="1" type="REPC_MT400101UK08.IncidentalLocation"/>
				
            <xs:element name="AgentOrgSDS" minOccurs="1" maxOccurs="1" type="UKCT_MT120501UK03.AgentOrgSDS"/>
			
         </xs:choice>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Participation"/>
		
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PertinentInformation20">
		
      <xs:sequence>
			
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.TransportInformation" minOccurs="1" maxOccurs="1" name="pertinentTransportInformation"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.TransportInformation">
		
      <xs:sequence>
			
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="x_ActMoodOrdPrmsEvn" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PertinentInformation7">
		
      <xs:sequence>
			
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.ServiceType" minOccurs="1" maxOccurs="1" name="pertinentServiceType"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REPC_MT400101UK08.ServiceType">
		
      <xs:sequence>
			
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="Observation"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.PertinentInformation9">
		
      <xs:sequence>
			
         <xs:element name="templateId">
				
            <xs:complexType>
					
               <xs:attribute name="root" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="uid">
								
                        <xs:enumeration value="2.16.840.1.113883.2.1.3.2.4.18.2"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="extension" use="required">
						
                  <xs:simpleType>
							
                     <xs:restriction base="st">
								
                        <xs:enumeration value="CSAB_RM-NPfITUK10.pertinentInformation1"/>
							
                     </xs:restriction>
						
                  </xs:simpleType>
					
               </xs:attribute>
					
               <xs:attribute name="assigningAuthorityName" type="st" use="optional"/>
					
               <xs:attribute name="displayable" type="bl" use="optional"/>
				
            </xs:complexType>
			
         </xs:element>
			
         <xs:element type="REPC_MT400101UK08.CareRecordElementCategory" minOccurs="1" maxOccurs="1" name="pertinentCareRecordElementCategory"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType not changed -->
   <xs:complexType name="REPC_MT400101UK08.CareRecordElementCategory">
		
      <xs:sequence>
			
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
			
         <xs:element type="REPC_MT400101UK08.Component1" minOccurs="1" maxOccurs="unbounded" name="component"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.Component1">
		
      <xs:sequence>
			
         <xs:element type="REPC_MT400101UK08.ActRef" minOccurs="1" maxOccurs="1" name="actRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	
   <xs:complexType name="REPC_MT400101UK08.ReplacementOf">
		
      <xs:sequence>
			
         <xs:element type="REPC_MT400101UK08.MessageRef" minOccurs="1" maxOccurs="1" name="priorMessageRef"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
		
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>
	<!-- XSDStrictMaker : ComplexType ignored due to ending in '-Ref' -->
   <xs:complexType name="REPC_MT400101UK08.MessageRef">
		
      <xs:sequence>
			
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
		
      </xs:sequence>
		
      <xs:attribute name="type" type="Classes" default="PatientEncounter"/>
		
      <xs:attribute name="classCode" type="ActClass" use="required"/>
		
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
		
      <xs:attribute name="typeID" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="oid"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="realmCode" use="optional">
			
         <xs:simpleType>
				
            <xs:list itemType="cs"/>
			
         </xs:simpleType>
		
      </xs:attribute>
		
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
	
   </xs:complexType>

</xs:schema>
