omvt/TightenedSchemas/setResourcePermissionsRequest_0_8.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Robert Stanger (BT Syntegra) -->
<!--
		v0.1 	Joseph Waller 	13 July 2007 	- First draft.
		v0.2  Preshit Vartak	19 July 2007	- Altered the schema to encorporate naspCommonDataTypes defined in the 	"naspCommonTypes003.xsd"
		v0.3  Preshit Vartak	20 July 2007	- Altered the schema to use 'include' instead of 'import' for "naspCommonTypes003.xsd"
		v0.4  Joseph Waller	31 July 2007	- Change reference from "naspCommonTypes003.xsd" to "naspCommonTypes004.xsd"
		v0.5  Joseph Waller	01 August 2007	- Removed sender and request interaction elements.
		v0.6  Joseph Waller	06 November 2007	- Updated reference to Common Types to naspCommonTypes005.xsd
		v0.7  Joseph Waller	10 May 2008	- Updated reference to Common Types to naspACSCommonTypes.xsd
		v0.8  Joseph Waller	12 November 2008	- Updated reference to Common Types to naspACSCommonTypes_0_1.xsd
		v0.9  Richard Robinson	23 October 2014	- Updated reference to naspACSSetCommonTypes to differentiate subtle differences in Get Set and Has
-->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://national.carerecords.nhs.uk/schema/crs/" targetNamespace="http://national.carerecords.nhs.uk/schema/crs/" elementFormDefault="qualified">
	<xs:include schemaLocation="naspACSSetCommonTypes_0_1.xsd"/>
	<!--	<xs:complexType name="accessControlAssertionType">
		<xs:sequence>
			<xs:element name="permission" type="permissionType"/>
			<xs:element name="userData" type="xs:string" minOccurs="0"/>
			<xs:element name="resource" type="resourceType"/>
			<xs:element name="function" type="functionType"/>
			<xs:element name="accessor" type="accessorType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="permissionsType">
		<xs:sequence>
			<xs:element name="resourceContext" type="II"/>
			<xs:element name="accessControlAssertion" type="accessControlAssertionType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>-->
	<xs:element name="setResourcePermissionsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="permissions" type="permissionsType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
